openapi: 3.0.1
info:
  description: |
    MailSlurp is an API for sending and receiving emails from dynamically allocated email addresses. It's designed for
    developers and QA teams to test applications, process inbound emails, send templated notifications, attachments, and
    more.

    ## Resources

    - [Homepage](https://www.mailslurp.com)
    - Get an [API KEY](https://app.mailslurp.com/sign-up/)
    - Generated [SDK Clients](https://www.mailslurp.com/docs/)
    - [Examples](https://github.com/mailslurp/examples) repository
  title: MailSlurp API
  version: 6.5.2
servers:
- url: https://api.mailslurp.com/
tags:
- description: "\"Endpoints for creating, listing, and deleting email aliases. Aliases\
    \ must be validated. Email aliases can be used to hide real email addresses behind\
    \ an alias. If you wish to receive emails with an alias attach an inbox to the\
    \ alias.\n       Whenever the inbox receives an email the email will be forwarded\
    \ to the alias email address. See related `threads`. Threads can be used with\
    \ aliases to enable replying to a proxied email. This means that when threads\
    \ are enabled an email alias will \n       create a new email thread for the message\
    \ and set the replyTo and from headers on the subsequently proxied email to point\
    \ to the threads unique email address. \n       By replying to this address the\
    \ thread will forward it to the original emails sender or replyTo and use the\
    \ same subject and bcc and cc contacts as the email you are replying to. For more\
    \ advanced email operations using aliases use the inboxId for the given alias.\n"
  name: Alias Controller
- description: 'Endpoints for uploading attachments. Attachments can be uploaded in
    a number of ways: as base64 encoded strings, as byte array octet streams, and
    as multipart form requests. Each upload method returns an array whose first element
    is the ID of the attachment. Use this Id to send the attachment with emails. See
    the EmailController `download` endpoints for downloading attachments. Attachment
    downloads are based on the email ID they belong to and can be downloaded using
    the email controller.'
  name: Attachment Controller
- description: Endpoints for access bounced emails and bounced recipients
  name: Bounce Controller
- description: Other endpoints including advanced receive options
  name: Bulk Actions Controller
- description: A collection of common actions. Groups together several controllers
    behind a facade with convenience methods. Not recommended. It is better in most
    cases to call the individual controllers directly as they are where many new features
    are added. The controllers are better documented too. This controller is maintained
    for backwards compatibility.
  name: Common Actions Controller
- description: Endpoints for managing contacts. Contacts can be used for sending emails
    to individuals and groups.
  name: Contact Controller
- description: Endpoints for managing custom domains. Once you create a custom domain
    you must add the returned verification records to your hosting provider. See support
    or guides for more information.
  name: Domain Controller
- description: "Endpoints for managing email entities. Send and read email using the\
    \ email API. You can fetch emails and attachments, reply to emails, and send new\
    \ emails with this controller. Emails belong to inboxes. \nEach inbox can contain\
    \ unlimited emails that are either permanent or temporary depending on your setup.\
    \ Because emails can be quite large when attachments and content are fetched most\
    \ responses only include a preview of the email and its most important features,\
    \ like subject, recipients etc and an ID. Many list results are in a paginated\
    \ form using an index (zero based) and a page size. To receive email decide on\
    \ either `waitFor` methods (such as `waitForLatestEmail` on the `WaitForController`)\
    \ to wait for emails to arrive. Use `getEmails` on `EmailController` or `getInboxEmails`\
    \ on the `InboxController` to list existing emails. To access the body or attachments\
    \ of an email you need to use the `getEmail` and `getAttachment` endpoints with\
    \ specific inbox and email IDs. The body is returned on full email entities and\
    \ contains the parsed body of the email. The email headers (such as recipients,\
    \ subject etc.) are stored on the email object. You can access the RAW SMTP message\
    \ via various `raw` methods. Attachments are treated as separate entities that\
    \ have an ID and belong to the email. To fetch email attachments first fetch the\
    \ full email then use a `downloadAttachment` method for each `attachmentID`. Attachments\
    \ are transferred in a number of ways as either `application/octect-stream` byte\
    \ arrays or as base64 encoded strings with meta data. You may prefer either depending\
    \ on the environment you are in but the base64 implementations are typically safer.\
    \ See the `AttachmentController`, `InboxController`, and `WaitForController` for\
    \ similar methods. \n    "
  name: Email Controller
- description: View and manage expired inbox records. If an inbox has an expiration
    date when it is created it will expire at that time and an ExpiredInboxRecord
    will be created for it listing the email address and inbox ID. You can still view
    emails belonging to the inbox by using the inbox ID but the inbox can no longer
    send or receive emails once expired.
  name: Expired Controller
- description: Endpoints for exporting user data to CSV, XML and other formats.
  name: Export Controller
- description: Form controller for submitting emailable forms
  name: Form Controller
- description: Endpoints for managing groups. Groups can be used for sending emails
    to individuals and groups.
  name: Group Controller
- description: "Endpoints for creating and managing inboxes. Also includes endpoints\
    \ for listing emails within inboxes. \nInboxes are a core feature of MailSlurp.\
    \ Each inbox has a unique ID and emailAddress. Inboxes can be either `HTTP` or\
    \ `SMTP` inboxes. Both are email inboxes but `HTTP` mailboxes are processed using\
    \ AWS SES while `SMTP` inboxes use a custom mail server listening at `mx.mailslurp.com`.\
    \ Use `HTTP` inboxes for testing and `SMTP` inboxes for public facing inboxes.\
    \ If your plan allows custom domains you can create inboxes with custom addresses\
    \ that end in your domain. \nBy default inboxes are assigned a random email address\
    \ ending in `@mailslurp.com`. Use the domainPool options to use a randomly selected\
    \ domain from a pool of available domains. Whenever you create an inbox MailSlurp\
    \ will register the address and store any emails sent to the address within your\
    \ inbox. \nYou can use the `InboxController` endpoints to list the emails in an\
    \ inbox. To get the contents or attachments of an email use the ID returned from\
    \ `InboxController` methods to call the `EmailController` endpoints.\"\n"
  name: Inbox Controller
- description: Endpoints for creating and managing inbox forwarders. Automatically
    forward emails received by inboxes using rules.
  name: Inbox Forwarder Controller
- description: |
    Endpoints for creating and managing inbox rulesets. Inbox rulesets are sets of rules that can be automatically applied to inbound and outbound emails for an inbox. Rulesets can have a scope, action, and target. The scope is receiving or sending emails. The action is to block, allow, or forward an email. The target is pattern or email address depending on the action. The handler can be used to handle rules silently or trigger an exception when they occur. See inbox controller for similar methods.
  name: Inbox Ruleset Controller
- description: Api Mail Server Controller
  name: MailServer Controller
- description: Endpoints for managing MissedEmails. Missed emails are saved whenever
    your account cannot persist a received email because your plan had exceeded a
    given usage at the time.
  name: MissedEmail Controller
- description: Endpoints for viewing sent email receipts. These can be used to verify
    that an email has been sent or for historical records. Email content and attachments
    are stored. For legacy reasons the default send endpoint does not return a sent
    email. Use the `sendEmailAndConfirm` methods to receive a sent email receipt after
    sending.
  name: Sent Emails Controller
- description: Endpoints for managing Templates. Templates can be used when sending
    emails and support moustache syntax template variables. Variables can be passed
    with send email options or implicitly available if Contact Groups are used.
  name: Template Controller
- description: Endpoints for managing tracking entities such as email open and read
    tracking pixels.
  name: Tracking Controller
- description: 'Endpoints for receiving emails using waitFor methods. The endpoints
    are perfect for synchronous blocking calls, long-polling, or tests (see webhooks
    if you need to respond to email events as they happen using HTTP notification).
    These wait endpoints are all built around a common idea - that you ask for an
    expected number of emails from an inbox and MailSlurp will either: A) Return the
    matching emails if they are present; B) Hold a connection open until the matching
    emails are are received or until a timeout occurs. For test suites we recommend
    that you create a new inbox for each test run  and use the waitForLatestEmail
    to hold the connection until the email you expect arrives. Note if your inbox
    is not already empty waitFor methods may return immediately depending on their
    implementation. See each endpoint for more details.'
  name: WaitFor Controller
- description: Endpoint for interacting with webhooks. Webhooks have a URL that points
    to your server. Useful for email forwarding, email API processing and more. They
    can be added to inboxes and when an inbox receives an email the email ID and inbox
    ID will be posted to the URL endpoint at your server. The schema of the webhook
    payload is available at https://api.mailslurp.com/schemas/webhook-payload or by
    calling https://api.mailslurp.com/webhooks/test. Use webhooks to react in real-time
    to inbound emails. Use the webhook payload posted to your server to fetch the
    full emails or attachments if you need them. Use the event ID as an idempotent
    record. The ID identifies the webhook payload uniquely. MailSlurp tracks webhook
    processing. It will try not to send the same event twice but it can happen. If
    you receive the same event more than once you can ignore it and assume it is the
    same. It is recommended that you use a store or database to track webhooks you
    have processed to avoid processing events more than once.
  name: Webhook Controller
paths:
  /aliases:
    get:
      deprecated: false
      description: Get all email aliases in paginated form
      operationId: getAliases
      parameters:
      - allowEmptyValue: false
        description: Optional page index in alias list pagination
        in: query
        name: page
        schema:
          default: 0
          format: int32
          type: integer
      - allowEmptyValue: false
        description: Optional page size in alias list pagination
        in: query
        name: size
        schema:
          default: 20
          format: int32
          type: integer
      - allowEmptyValue: false
        description: Optional createdAt sort direction ASC or DESC
        in: query
        name: sort
        schema:
          default: ASC
          enum:
          - ASC
          - DESC
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageAlias'
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - API_KEY: []
      summary: Get all email aliases you have created
      tags:
      - Alias Controller
      x-accepts: application/json
    post:
      deprecated: false
      description: Email aliases use a MailSlurp randomly generated email address
        (or a custom domain inbox that you provide) to mask or proxy a real email
        address. Emails sent to the alias address will be forwarded to the hidden
        email address it was created for. If you want to send a reply use the threadId
        attached
      operationId: createAlias
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAliasOptions'
        description: createAliasOptions
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AliasDto'
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - API_KEY: []
      summary: Create an email alias. Must be verified by clicking link inside verification
        email that will be sent to the address. Once verified the alias will be active.
      tags:
      - Alias Controller
      x-codegen-request-body-name: createAliasOptions
      x-contentType: application/json
      x-accepts: application/json
  /aliases/{aliasId}:
    delete:
      deprecated: false
      operationId: deleteAlias
      parameters:
      - description: aliasId
        in: path
        name: aliasId
        required: true
        schema:
          format: uuid
          type: string
      responses:
        "204":
          content: {}
          description: No Content
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
      security:
      - API_KEY: []
      summary: Delete an email alias
      tags:
      - Alias Controller
      x-accepts: application/json
    get:
      deprecated: false
      description: Get an email alias by ID
      operationId: getAlias
      parameters:
      - description: aliasId
        in: path
        name: aliasId
        required: true
        schema:
          format: uuid
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AliasDto'
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - API_KEY: []
      summary: Get an email alias
      tags:
      - Alias Controller
      x-accepts: application/json
    put:
      deprecated: false
      operationId: updateAlias
      parameters:
      - description: aliasId
        in: path
        name: aliasId
        required: true
        schema:
          format: uuid
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAliasOptions'
        description: updateAliasOptions
        required: true
      responses:
        "201":
          content: {}
          description: Created
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Alias'
          description: Accepted
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - API_KEY: []
      summary: Update an email alias
      tags:
      - Alias Controller
      x-codegen-request-body-name: updateAliasOptions
      x-contentType: application/json
      x-accepts: application/json
  /aliases/{aliasId}/emails:
    get:
      deprecated: false
      description: Get paginated emails for an alias by ID
      operationId: getAliasEmails
      parameters:
      - description: aliasId
        in: path
        name: aliasId
        required: true
        schema:
          format: uuid
          type: string
      - allowEmptyValue: false
        description: Optional page index alias email list pagination
        in: query
        name: page
        schema:
          default: 0
          format: int32
          type: integer
      - allowEmptyValue: false
        description: Optional page size alias email list pagination
        in: query
        name: size
        schema:
          default: 20
          format: int32
          type: integer
      - allowEmptyValue: false
        description: Optional createdAt sort direction ASC or DESC
        in: query
        name: sort
        schema:
          default: ASC
          enum:
          - ASC
          - DESC
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageEmailProjection'
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - API_KEY: []
      summary: Get emails for an alias
      tags:
      - Alias Controller
      x-accepts: application/json
    post:
      deprecated: false
      description: Send an email from an alias. Replies to the email will be forwarded
        to the alias masked email address
      operationId: sendAliasEmail
      parameters:
      - description: aliasId
        in: path
        name: aliasId
        required: true
        schema:
          format: uuid
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendEmailOptions'
        description: Options for the email to be sent
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SentEmailDto'
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - API_KEY: []
      summary: Send an email from an alias inbox
      tags:
      - Alias Controller
      x-codegen-request-body-name: sendEmailOptions
      x-contentType: application/json
      x-accepts: application/json
  /aliases/{aliasId}/emails/{emailId}:
    put:
      deprecated: false
      description: Send the reply to the email sender or reply-to and include same
        subject cc bcc etc. Reply to an email and the contents will be sent with the
        existing subject to the emails `to`, `cc`, and `bcc`.
      operationId: replyToAliasEmail
      parameters:
      - description: ID of the alias that email belongs to
        in: path
        name: aliasId
        required: true
        schema:
          format: uuid
          type: string
      - description: ID of the email that should be replied to
        in: path
        name: emailId
        required: true
        schema:
          format: uuid
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReplyToAliasEmailOptions'
        description: replyToAliasEmailOptions
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SentEmailDto'
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - API_KEY: []
      summary: Reply to an email
      tags:
      - Alias Controller
      x-codegen-request-body-name: replyToAliasEmailOptions
      x-contentType: application/json
      x-accepts: application/json
  /aliases/{aliasId}/threads:
    get:
      deprecated: false
      description: Returns threads created for an email alias in paginated form
      operationId: getAliasThreads
      parameters:
      - description: aliasId
        in: path
        name: aliasId
        required: true
        schema:
          format: uuid
          type: string
      - allowEmptyValue: false
        description: Optional page index in thread list pagination
        in: query
        name: page
        schema:
          default: 0
          format: int32
          type: integer
      - allowEmptyValue: false
        description: Optional page size in thread list pagination
        in: query
        name: size
        schema:
          default: 20
          format: int32
          type: integer
      - allowEmptyValue: false
        description: Optional createdAt sort direction ASC or DESC
        in: query
        name: sort
        schema:
          default: ASC
          enum:
          - ASC
          - DESC
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageThreadProjection'
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - API_KEY: []
      summary: Get threads created for an alias
      tags:
      - Alias Controller
      x-accepts: application/json
  /attachments:
    get:
      deprecated: false
      description: Get all attachments in paginated response. Each entity contains
        meta data for the attachment such as `name` and `content-type`. Use the `attachmentId`
        and the download endpoints to get the file contents.
      operationId: getAttachments
      parameters:
      - allowEmptyValue: false
        description: Optional file name and content type search filter
        in: query
        name: fileNameFilter
        schema:
          type: string
      - allowEmptyValue: false
        description: Optional page index event list pagination
        in: query
        name: page
        schema:
          default: 0
          format: int32
          type: integer
      - allowEmptyValue: false
        description: Optional page size event list pagination
        in: query
        name: size
        schema:
          default: 20
          format: int32
          type: integer
      - allowEmptyValue: false
        description: Optional createdAt sort direction ASC or DESC
        in: query
        name: sort
        schema:
          default: ASC
          enum:
          - ASC
          - DESC
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageAttachmentEntity'
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - API_KEY: []
      summary: Get email attachments
      tags:
      - Attachment Controller
      x-accepts: application/json
    post:
      deprecated: false
      description: Email attachments are essentially files with meta data. Files are
        byte arrays and the meta data is a content type and a filename. These properties
        allow email clients to display the filename and icon etc. When sending emails
        with attachments first upload each attachment with an upload endpoint. Record
        the returned attachment ID and use it with subsequent email sending. For legacy
        reasons the ID is returned as the first element in an array. Only a single
        ID is ever returned. To send the attachments pass a list of attachment IDs
        with `SendEmailOptions` when sending an email. Using the upload endpoints
        prior to sending mean attachments can easily be reused.
      operationId: uploadAttachment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UploadAttachmentOptions'
        description: uploadOptions
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - API_KEY: []
      summary: Upload an attachment for sending using base64 file encoding. Returns
        an array whose first element is the ID of the uploaded attachment.
      tags:
      - Attachment Controller
      x-codegen-request-body-name: uploadOptions
      x-contentType: application/json
      x-accepts: application/json
  /attachments/bytes:
    post:
      deprecated: false
      description: Email attachments are essentially files with meta data. Files are
        byte arrays and the meta data is a content type and a filename. These properties
        allow email clients to display the filename and icon etc. When sending emails
        with attachments first upload each attachment with an upload endpoint. Record
        the returned attachment ID and use it with subsequent email sending. For legacy
        reasons the ID is returned as the first element in an array. Only a single
        ID is ever returned. To send the attachments pass a list of attachment IDs
        with `SendEmailOptions` when sending an email. Using the upload endpoints
        prior to sending mean attachments can easily be reused.
      operationId: uploadAttachmentBytes
      parameters:
      - allowEmptyValue: false
        description: Optional contentType for file. For instance `application/pdf`
        in: query
        name: String
        schema:
          type: string
      - allowEmptyValue: false
        description: Optional filename to save upload with
        in: query
        name: filename
        schema:
          type: string
      requestBody:
        content:
          application/octet-stream:
            schema:
              format: byte
              type: string
        description: Byte array request body
        required: false
      responses:
        "201":
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - API_KEY: []
      summary: Upload an attachment for sending using file byte stream input octet
        stream. Returns an array whose first element is the ID of the uploaded attachment.
      tags:
      - Attachment Controller
      x-codegen-request-body-name: byteArray
      x-contentType: application/octet-stream
      x-accepts: application/json
  /attachments/multipart:
    post:
      deprecated: false
      description: Email attachments are essentially files with meta data. Files are
        byte arrays and the meta data is a content type and a filename. These properties
        allow email clients to display the filename and icon etc. When sending emails
        with attachments first upload each attachment with an upload endpoint. Record
        the returned attachment ID and use it with subsequent email sending. For legacy
        reasons the ID is returned as the first element in an array. Only a single
        ID is ever returned. To send the attachments pass a list of attachment IDs
        with `SendEmailOptions` when sending an email. Using the upload endpoints
        prior to sending mean attachments can easily be reused.
      operationId: uploadMultipartForm
      parameters:
      - allowEmptyValue: false
        description: Optional content type of attachment
        in: query
        name: contentType
        schema:
          type: string
      - allowEmptyValue: false
        description: Optional name of file
        in: query
        name: filename
        schema:
          type: string
      - allowEmptyValue: false
        description: Optional content type header of attachment
        in: query
        name: x-filename
        schema:
          type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                file:
                  description: file
                  format: binary
                  type: string
              required:
              - file
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - API_KEY: []
      summary: Upload an attachment for sending using a Multipart Form request. Returns
        an array whose first element is the ID of the uploaded attachment.
      tags:
      - Attachment Controller
      x-codegen-request-body-name: contentTypeHeader
      x-contentType: multipart/form-data
      x-accepts: application/json
  /attachments/{attachmentId}:
    delete:
      deprecated: false
      description: Email attachments are essentially files with meta data. Files are
        byte arrays and the meta data is a content type and a filename. These properties
        allow email clients to display the filename and icon etc. When sending emails
        with attachments first upload each attachment with an upload endpoint. Record
        the returned attachment ID and use it with subsequent email sending. For legacy
        reasons the ID is returned as the first element in an array. Only a single
        ID is ever returned. To send the attachments pass a list of attachment IDs
        with `SendEmailOptions` when sending an email. Using the upload endpoints
        prior to sending mean attachments can easily be reused.
      operationId: deleteAttachment
      parameters:
      - description: ID of attachment
        in: path
        name: attachmentId
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: No Content
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
      security:
      - API_KEY: []
      summary: Delete an attachment
      tags:
      - Attachment Controller
      x-accepts: application/json
  /attachments/{attachmentId}/base64:
    get:
      deprecated: false
      description: Returns the specified attachment for a given email as a base 64
        encoded string. The response type is application/json. This method is similar
        to the `downloadAttachment` method but allows some clients to get around issues
        with binary responses.
      operationId: downloadAttachmentAsBase64Encoded
      parameters:
      - description: ID of attachment
        in: path
        name: attachmentId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DownloadAttachmentDto'
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - API_KEY: []
      summary: Get email attachment as base64 encoded string as alternative to binary
        responses. To read the content decode the Base64 encoded contents.
      tags:
      - Attachment Controller
      x-accepts: application/json
  /attachments/{attachmentId}/bytes:
    get:
      deprecated: false
      description: Returns the specified attachment for a given email as a stream
        / array of bytes. You can find attachment ids in email responses endpoint
        responses. The response type is application/octet-stream.
      operationId: downloadAttachmentAsBytes
      parameters:
      - description: ID of attachment
        in: path
        name: attachmentId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                format: byte
                type: string
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - API_KEY: []
      summary: Download attachments. Get email attachment bytes. If you have trouble
        with byte responses try the `downloadAttachmentBase64` response endpoints.
      tags:
      - Attachment Controller
      x-accepts: application/octet-stream
  /attachments/{attachmentId}/metadata:
    get:
      deprecated: false
      description: Returns the metadata for an attachment. It is saved separately
        to the content of the attachment. Contains properties `name` and `content-type`
        and `content-length` in bytes for a given attachment.
      operationId: getAttachmentInfo
      parameters:
      - description: ID of attachment
        in: path
        name: attachmentId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachmentMetaData'
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - API_KEY: []
      summary: Get email attachment metadata information
      tags:
      - Attachment Controller
      x-accepts: application/json
  /bounce/emails:
    get:
      deprecated: false
      description: Bounced emails are email you have sent that were rejected by a
        recipient
      operationId: getBouncedEmails
      parameters:
      - allowEmptyValue: false
        description: 'Optional page index '
        in: query
        name: page
        schema:
          default: 0
          format: int32
          type: integer
      - allowEmptyValue: false
        description: 'Optional page size '
        in: query
        name: size
        schema:
          default: 20
          format: int32
          type: integer
      - allowEmptyValue: false
        description: Optional createdAt sort direction ASC or DESC
        in: query
        name: sort
        schema:
          default: ASC
          enum:
          - ASC
          - DESC
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageBouncedEmail'
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - API_KEY: []
      summary: Get paginated list of bounced emails.
      tags:
      - Bounce Controller
      x-accepts: application/json
  /bounce/emails/{id}:
    get:
      deprecated: false
      description: Bounced emails are email you have sent that were rejected by a
        recipient
      operationId: getBouncedEmail
      parameters:
      - description: ID of the bounced email to fetch
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bounce'
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - API_KEY: []
      summary: Get a bounced email.
      tags:
      - Bounce Controller
      x-accepts: application/json
  /bounce/recipients:
    get:
      deprecated: false
      description: Bounced recipients are email addresses that you have sent emails
        to that did not accept the sent email. Once a recipient is bounced you cannot
        send emails to that address.
      operationId: getBouncedRecipients
      parameters:
      - allowEmptyValue: false
        description: 'Optional page index '
        in: query
        name: page
        schema:
          default: 0
          format: int32
          type: integer
      - allowEmptyValue: false
        description: 'Optional page size '
        in: query
        name: size
        schema:
          default: 20
          format: int32
          type: integer
      - allowEmptyValue: false
        description: Optional createdAt sort direction ASC or DESC
        in: query
        name: sort
        schema:
          default: ASC
          enum:
          - ASC
          - DESC
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageBouncedRecipients'
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - API_KEY: []
      summary: Get paginated list of bounced recipients.
      tags:
      - Bounce Controller
      x-accepts: application/json
  /bounce/recipients/{id}:
    get:
      deprecated: false
      description: Bounced emails are email you have sent that were rejected by a
        recipient
      operationId: getBouncedRecipient
      parameters:
      - description: ID of the bounced recipient
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BounceRecipient'
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - API_KEY: []
      summary: Get a bounced email.
      tags:
      - Bounce Controller
      x-accepts: application/json
  /bulk/inboxes:
    delete:
      deprecated: false
      operationId: bulkDeleteInboxes
      requestBody:
        content:
          application/json:
            schema:
              items:
                format: uuid
                type: string
              type: array
        description: ids
        required: true
      responses:
        "204":
          content: {}
          description: No Content
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
      security:
      - API_KEY: []
      summary: Bulk Delete Inboxes
      tags:
      - Bulk Actions Controller
      x-codegen-request-body-name: ids
      x-contentType: application/json
      x-accepts: application/json
    post:
      deprecated: false
      operationId: bulkCreateInboxes
      parameters:
      - allowEmptyValue: false
        description: Number of inboxes to be created in bulk
        in: query
        name: count
        required: true
        schema:
          format: int32
          type: integer
      responses:
        "201":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Inbox'
                type: array
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - API_KEY: []
      summary: Bulk create Inboxes (email addresses)
      tags:
      - Bulk Actions Controller
      x-accepts: application/json
  /bulk/send:
    post:
      deprecated: false
      operationId: bulkSendEmails
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkSendEmailOptions'
        description: bulkSendEmailOptions
        required: true
      responses:
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - API_KEY: []
      summary: Bulk Send Emails
      tags:
      - Bulk Actions Controller
      x-codegen-request-body-name: bulkSendEmailOptions
      x-contentType: application/json
      x-accepts: application/json
  /contacts:
    get:
      deprecated: false
      operationId: getContacts
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ContactProjection'
                type: array
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - API_KEY: []
      summary: Get all contacts
      tags:
      - Contact Controller
      x-accepts: application/json
    post:
      deprecated: false
      operationId: createContact
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateContactOptions'
        description: createContactOptions
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactDto'
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - API_KEY: []
      summary: Create a contact
      tags:
      - Contact Controller
      x-codegen-request-body-name: createContactOptions
      x-contentType: application/json
      x-accepts: application/json
  /contacts/paginated:
    get:
      deprecated: false
      operationId: getAllContacts
      parameters:
      - allowEmptyValue: false
        description: Optional page index in list pagination
        in: query
        name: page
        schema:
          default: 0
          format: int32
          type: integer
      - allowEmptyValue: false
        description: Optional page size in list pagination
        in: query
        name: size
        schema:
          default: 20
          format: int32
          type: integer
      - allowEmptyValue: false
        description: Optional createdAt sort direction ASC or DESC
        in: query
        name: sort
        schema:
          default: ASC
          enum:
          - ASC
          - DESC
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageContactProjection'
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - API_KEY: []
      summary: Get all contacts
      tags:
      - Contact Controller
      x-accepts: application/json
  /contacts/{contactId}:
    delete:
      deprecated: false
      operationId: deleteContact
      parameters:
      - description: contactId
        in: path
        name: contactId
        required: true
        schema:
          format: uuid
          type: string
      responses:
        "204":
          content: {}
          description: No Content
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
      security:
      - API_KEY: []
      summary: Delete contact
      tags:
      - Contact Controller
      x-accepts: application/json
    get:
      deprecated: false
      operationId: getContact
      parameters:
      - description: contactId
        in: path
        name: contactId
        required: true
        schema:
          format: uuid
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactDto'
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - API_KEY: []
      summary: Get contact
      tags:
      - Contact Controller
      x-accepts: application/json
  /contacts/{contactId}/download:
    get:
      deprecated: false
      operationId: getContactVCard
      parameters:
      - description: contactId
        in: path
        name: contactId
        required: true
        schema:
          format: uuid
          type: string
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                format: byte
                type: string
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - API_KEY: []
      summary: Get contact vCard vcf file
      tags:
      - Contact Controller
      x-accepts: application/octet-stream
  /createInbox:
    post:
      deprecated: false
      description: Returns an Inbox with an `id` and an `emailAddress`
      operationId: createNewEmailAddress
      parameters:
      - description: allowTeamAccess
        in: query
        name: allowTeamAccess
        schema:
          type: boolean
      - description: expiresAt
        in: query
        name: expiresAt
        schema:
          format: date-time
          type: string
      - description: expiresIn
        in: query
        name: expiresIn
        schema:
          format: int64
          type: integer
      - description: useDomainPool
        in: query
        name: useDomainPool
        schema:
          type: boolean
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Inbox'
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - API_KEY: []
      summary: Create new random inbox
      tags:
      - Common Actions Controller
      x-accepts: application/json
  /domains:
    get:
      deprecated: false
      description: List all custom domains you have created
      operationId: getDomains
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/DomainPreview'
                type: array
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - API_KEY: []
      summary: Get domains
      tags:
      - Domain Controller
      x-accepts: application/json
    post:
      deprecated: false
      description: Link a domain that you own with MailSlurp so you can create email
        addresses using it. Endpoint returns DNS records used for validation. You
        must add these verification records to your host provider's DNS setup to verify
        the domain.
      operationId: createDomain
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDomainOptions'
        description: domainOptions
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainDto'
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - API_KEY: []
      summary: Create Domain
      tags:
      - Domain Controller
      x-codegen-request-body-name: domainOptions
      x-contentType: application/json
      x-accepts: application/json
  /domains/{id}:
    delete:
      deprecated: false
      description: Delete a domain. This will disable any existing inboxes that use
        this domain.
      operationId: deleteDomain
      parameters:
      - description: id
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      responses:
        "204":
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
          description: No Content
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
      security:
      - API_KEY: []
      summary: Delete a domain
      tags:
      - Domain Controller
      x-accepts: application/json
    get:
      deprecated: false
      description: Returns domain verification status and tokens for a given domain
      operationId: getDomain
      parameters:
      - description: id
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainDto'
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - API_KEY: []
      summary: Get a domain
      tags:
      - Domain Controller
      x-accepts: application/json
    put:
      deprecated: false
      description: Update values on a domain. Note you cannot change the domain name
        as it is immutable. Recreate the domain if you need to alter this.
      operationId: updateDomain
      parameters:
      - description: id
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDomainOptions'
        description: updateDomainDto
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainDto'
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - API_KEY: []
      summary: Update a domain
      tags:
      - Domain Controller
      x-codegen-request-body-name: updateDomainDto
      x-contentType: application/json
      x-accepts: application/json
  /domains/{id}/wildcard:
    post:
      deprecated: false
      description: Add a catch all inbox to a domain so that any emails sent to it
        that cannot be matched will be sent to the catch all inbox generated
      operationId: addDomainWildcardCatchAll
      parameters:
      - description: id
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainDto'
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - API_KEY: []
      summary: Add catch all wild card inbox to domain
      tags:
      - Domain Controller
      x-accepts: application/json
  /emails:
    delete:
      deprecated: false
      description: Deletes all emails in your account. Be careful as emails cannot
        be recovered
      operationId: deleteAllEmails
      responses:
        "204":
          content: {}
          description: No Content
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
      security:
      - API_KEY: []
      summary: Delete all emails in all inboxes.
      tags:
      - Email Controller
      x-accepts: application/json
    get:
      deprecated: false
      description: By default returns all emails across all inboxes sorted by ascending
        created at date. Responses are paginated. You can restrict results to a list
        of inbox IDs. You can also filter out read messages
      operationId: getEmailsPaginated
      parameters:
      - allowEmptyValue: false
        description: Optional inbox ids to filter by. Can be repeated. By default
          will use all inboxes belonging to your account.
        explode: true
        in: query
        name: inboxId
        schema:
          items:
            format: uuid
            type: string
          type: array
        style: form
      - allowEmptyValue: false
        description: Optional page index in email list pagination
        in: query
        name: page
        schema:
          default: 0
          format: int32
          type: integer
      - allowEmptyValue: false
        description: Optional search filter. Searches email recipients, sender, subject,
          email address and ID. Does not search email body
        in: query
        name: searchFilter
        schema:
          default: "false"
          type: string
      - allowEmptyValue: false
        description: Optional page size in email list pagination. Maximum size is
          100. Use page index and sort to page through larger results
        in: query
        name: size
        schema:
          default: 20
          format: int32
          type: integer
      - allowEmptyValue: false
        description: Optional createdAt sort direction ASC or DESC
        in: query
        name: sort
        schema:
          default: ASC
          enum:
          - ASC
          - DESC
          type: string
      - allowEmptyValue: false
        description: Optional filter for unread emails only. All emails are considered
          unread until they are viewed in the dashboard or requested directly
        in: query
        name: unreadOnly
        schema:
          default: false
          type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageEmailProjection'
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - API_KEY: []
      summary: Get all emails in all inboxes in paginated form. Email API list all.
      tags:
      - Email Controller
      x-accepts: application/json
    post:
      deprecated: false
      description: Alias for `InboxController.sendEmail` method - see original method
        for full details. Sends an email from a given inbox that you have created.
        If no inbox is supplied a random inbox will be created for you and used to
        send the email.
      operationId: sendEmailSourceOptional
      parameters:
      - allowEmptyValue: false
        description: ID of the inbox you want to send the email from
        in: query
        name: inboxId
        schema:
          format: uuid
          type: string
      - allowEmptyValue: false
        description: Use domain pool. Optionally create inbox to send from using the
          mailslurp domain pool.
        in: query
        name: useDomainPool
        schema:
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendEmailOptions'
        description: Options for the email
        required: false
      responses:
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - API_KEY: []
      summary: Send email
      tags:
      - Email Controller
      x-codegen-request-body-name: sendEmailOptions
      x-contentType: application/json
      x-accepts: application/json
  /emails/latest:
    get:
      deprecated: false
      description: Get the newest email in all inboxes or in a passed set of inbox
        IDs
      operationId: getLatestEmail
      parameters:
      - allowEmptyValue: false
        description: Optional set of inboxes to filter by. Only get the latest email
          from these inbox IDs
        explode: true
        in: query
        name: inboxIds
        schema:
          items:
            format: uuid
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Email'
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - API_KEY: []
      summary: Get latest email in all inboxes. Most recently received.
      tags:
      - Email Controller
      x-accepts: application/json
  /emails/latestIn:
    get:
      deprecated: false
      description: Get the newest email in all inboxes or in a passed set of inbox
        IDs
      operationId: getLatestEmailInInbox
      parameters:
      - allowEmptyValue: false
        description: ID of the inbox you want to get the latest email from
        in: query
        name: inboxId
        schema:
          format: uuid
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Email'
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - API_KEY: []
      summary: Get latest email in an inbox. Use `WaitForController` to get emails
        that may not have arrived yet.
      tags:
      - Email Controller
      x-accepts: application/json
  /emails/organization:
    get:
      deprecated: false
      description: By default returns all emails across all team inboxes sorted by
        ascending created at date. Responses are paginated. You can restrict results
        to a list of inbox IDs. You can also filter out read messages
      operationId: getOrganizationEmailsPaginated
      parameters:
      - allowEmptyValue: false
        description: Optional inbox ids to filter by. Can be repeated. By default
          will use all inboxes belonging to your account.
        explode: true
        in: query
        name: inboxId
        schema:
          items:
            format: uuid
            type: string
          type: array
        style: form
      - allowEmptyValue: false
        description: Optional page index in email list pagination
        in: query
        name: page
        schema:
          default: 0
          format: int32
          type: integer
      - allowEmptyValue: false
        description: Optional search filter search filter for emails.
        in: query
        name: searchFilter
        schema:
          type: string
      - allowEmptyValue: false
        description: Optional page size in email list pagination. Maximum size is
          100. Use page index and sort to page through larger results
        in: query
        name: size
        schema:
          default: 20
          format: int32
          type: integer
      - allowEmptyValue: false
        description: Optional createdAt sort direction ASC or DESC
        in: query
        name: sort
        schema:
          default: ASC
          enum:
          - ASC
          - DESC
          type: string
      - allowEmptyValue: false
        description: Optional filter for unread emails only. All emails are considered
          unread until they are viewed in the dashboard or requested directly
        in: query
        name: unreadOnly
        schema:
          default: false
          type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageEmailProjection'
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - API_KEY: []
      summary: Get all organization emails. List team or shared test email accounts
      tags:
      - Email Controller
      x-accepts: application/json
  /emails/unreadCount:
    get:
      deprecated: false
      description: Get number of emails unread. Unread means has not been viewed in
        dashboard or returned in an email API response
      operationId: getUnreadEmailCount
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnreadCount'
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - API_KEY: []
      summary: Get unread email count
      tags:
      - Email Controller
      x-accepts: application/json
  /emails/{emailId}:
    delete:
      deprecated: false
      description: Deletes an email and removes it from the inbox. Deleted emails
        cannot be recovered.
      operationId: deleteEmail
      parameters:
      - description: ID of email to delete
        in: path
        name: emailId
        required: true
        schema:
          format: uuid
          type: string
      responses:
        "204":
          content: {}
          description: No Content
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
      security:
      - API_KEY: []
      summary: Delete an email
      tags:
      - Email Controller
      x-accepts: application/json
    get:
      deprecated: false
      description: Returns a email summary object with headers and content. To retrieve
        the raw unparsed email use the getRawEmail endpoints
      operationId: getEmail
      parameters:
      - allowEmptyValue: false
        description: Decode email body quoted-printable encoding to plain text. SMTP
          servers often encode text using quoted-printable format (for instance `=D7`).
          This can be a pain for testing
        in: query
        name: decode
        schema:
          default: false
          type: boolean
      - description: emailId
        in: path
        name: emailId
        required: true
        schema:
          format: uuid
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Email'
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - API_KEY: []
      summary: Get email content including headers and body. Expects email to exist
        by ID. For emails that may not have arrived yet use the WaitForController.
      tags:
      - Email Controller
      x-accepts: application/json
    put:
      deprecated: false
      description: Send the reply to the email sender or reply-to and include same
        subject cc bcc etc. Reply to an email and the contents will be sent with the
        existing subject to the emails `to`, `cc`, and `bcc`.
      operationId: replyToEmail
      parameters:
      - description: ID of the email that should be replied to
        in: path
        name: emailId
        required: true
        schema:
          format: uuid
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReplyToEmailOptions'
        description: replyToEmailOptions
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SentEmailDto'
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - API_KEY: []
      summary: Reply to an email
      tags:
      - Email Controller
      x-codegen-request-body-name: replyToEmailOptions
      x-contentType: application/json
      x-accepts: application/json
  /emails/{emailId}/attachments:
    get:
      deprecated: false
      description: Returns an array of attachment metadata such as name and content-type
        for a given email if present.
      operationId: getAttachments_1
      parameters:
      - description: ID of email
        in: path
        name: emailId
        required: true
        schema:
          format: uuid
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AttachmentMetaData'
                type: array
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - API_KEY: []
      summary: Get all email attachment metadata. Metadata includes name and size
        of attachments.
      tags:
      - Email Controller
      x-accepts: application/json
  /emails/{emailId}/attachments/{attachmentId}:
    get:
      deprecated: false
      description: Returns the specified attachment for a given email as a stream
        / array of bytes. You can find attachment ids in email responses endpoint
        responses. The response type is application/octet-stream.
      operationId: downloadAttachment
      parameters:
      - allowEmptyValue: false
        description: Can pass apiKey in url for this request if you wish to download
          the file in a browser. Content type will be set to original content type
          of the attachment file. This is so that browsers can download the file correctly.
        in: query
        name: apiKey
        schema:
          type: string
      - description: ID of attachment
        in: path
        name: attachmentId
        required: true
        schema:
          type: string
      - description: ID of email
        in: path
        name: emailId
        required: true
        schema:
          format: uuid
          type: string
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                format: byte
                type: string
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - API_KEY: []
      summary: Get email attachment bytes. Returned as `octet-stream` with content
        type header. If you have trouble with byte responses try the `downloadAttachmentBase64`
        response endpoints and convert the base 64 encoded content to a file or string.
      tags:
      - Email Controller
      x-accepts: application/octet-stream
  /emails/{emailId}/attachments/{attachmentId}/base64:
    get:
      deprecated: false
      description: Returns the specified attachment for a given email as a base 64
        encoded string. The response type is application/json. This method is similar
        to the `downloadAttachment` method but allows some clients to get around issues
        with binary responses.
      operationId: downloadAttachmentBase64
      parameters:
      - description: ID of attachment
        in: path
        name: attachmentId
        required: true
        schema:
          type: string
      - description: ID of email
        in: path
        name: emailId
        required: true
        schema:
          format: uuid
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DownloadAttachmentDto'
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - API_KEY: []
      summary: Get email attachment as base64 encoded string as an alternative to
        binary responses. Decode the `base64FileContents` as a `utf-8` encoded string
        or array of bytes depending on the `contentType`.
      tags:
      - Email Controller
      x-accepts: application/json
  /emails/{emailId}/attachments/{attachmentId}/metadata:
    get:
      deprecated: false
      description: Returns the metadata such as name and content-type for a given
        attachment and email.
      operationId: getAttachmentMetaData
      parameters:
      - description: ID of attachment
        in: path
        name: attachmentId
        required: true
        schema:
          type: string
      - description: ID of email
        in: path
        name: emailId
        required: true
        schema:
          format: uuid
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachmentMetaData'
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - API_KEY: []
      summary: Get email attachment metadata. This is the `contentType` and `contentLength`
        of an attachment. To get the individual attachments  use the `downloadAttachment`
        methods.
      tags:
      - Email Controller
      x-accepts: application/json
  /emails/{emailId}/body:
    get:
      deprecated: false
      description: Returns the specified email body for a given email as a string
      operationId: downloadBody
      parameters:
      - description: ID of email
        in: path
        name: emailId
        required: true
        schema:
          format: uuid
          type: string
      responses:
        "200":
          content:
            text/html:
              schema:
                type: string
            text/plain:
              schema:
                type: string
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - API_KEY: []
      summary: Get email body as string. Returned as `plain/text` with content type
        header.
      tags:
      - Email Controller
      x-accepts: text/html,text/plain
  /emails/{emailId}/body-bytes:
    get:
      deprecated: false
      description: Returns the specified email body for a given email as a stream
        / array of bytes.
      operationId: downloadBodyBytes
      parameters:
      - description: ID of email
        in: path
        name: emailId
        required: true
        schema:
          format: uuid
          type: string
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                format: byte
                type: string
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - API_KEY: []
      summary: Get email body in bytes. Returned as `octet-stream` with content type
        header.
      tags:
      - Email Controller
      x-accepts: application/octet-stream
  /emails/{emailId}/contentMatch:
    post:
      deprecated: false
      description: 'Return the matches for a given Java style regex pattern. Do not
        include the typical `/` at start or end of regex in some languages. Given
        an example `your code is: 12345` the pattern to extract match looks like `code
        is: (\d{6})`. This will return an array of matches with the first matching
        the entire pattern and the subsequent matching the groups: `[''code is: 123456'',
        ''123456'']` See https://docs.oracle.com/javase/8/docs/api/java/util/regex/Pattern.html
        for more information of available patterns. '
      operationId: getEmailContentMatch
      parameters:
      - description: ID of email to match against
        in: path
        name: emailId
        required: true
        schema:
          format: uuid
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContentMatchOptions'
        description: contentMatchOptions
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailContentMatchResult'
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - API_KEY: []
      summary: Get email content regex pattern match results. Runs regex against email
        body and returns match groups.
      tags:
      - Email Controller
      x-codegen-request-body-name: contentMatchOptions
      x-contentType: application/json
      x-accepts: application/json
  /emails/{emailId}/forward:
    post:
      deprecated: false
      description: Forward an existing email to new recipients. The sender of the
        email will be the inbox that received the email you are forwarding. You can
        override the sender with the `from` option. Note you must have access to the
        from address in MailSlurp to use the override. For more control consider fetching
        the email and sending it a new using the send email endpoints.
      operationId: forwardEmail
      parameters:
      - description: ID of email
        in: path
        name: emailId
        required: true
        schema:
          format: uuid
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ForwardEmailOptions'
        description: forwardEmailOptions
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SentEmailDto'
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - API_KEY: []
      summary: Forward email to recipients
      tags:
      - Email Controller
      x-codegen-request-body-name: forwardEmailOptions
      x-contentType: application/json
      x-accepts: application/json
  /emails/{emailId}/html:
    get:
      deprecated: false
      description: 'Retrieve email content as HTML response for viewing in browsers.
        Decodes quoted-printable entities and converts charset to UTF-8. Pass your
        API KEY as a request parameter when viewing in a browser: `?apiKey=xxx`'
      operationId: getEmailHTML
      parameters:
      - description: decode
        in: query
        name: decode
        schema:
          default: false
          type: boolean
      - description: emailId
        in: path
        name: emailId
        required: true
        schema:
          format: uuid
          type: string
      responses:
        "200":
          content:
            text/html:
              schema:
                type: string
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - API_KEY: []
      summary: Get email content as HTML. For displaying emails in browser context.
      tags:
      - Email Controller
      x-accepts: text/html
  /emails/{emailId}/htmlQuery:
    get:
      deprecated: false
      description: Parse an email body and return the content as an array of text.
        HTML parsing uses JSoup which supports JQuery/CSS style selectors
      operationId: getEmailHTMLQuery
      parameters:
      - description: ID of email to perform HTML query on
        in: path
        name: emailId
        required: true
        schema:
          format: uuid
          type: string
      - allowEmptyValue: false
        description: HTML selector to search for. Uses JQuery/JSoup/CSS style selector
          like '.my-div' to match content. See https://jsoup.org/apidocs/org/jsoup/select/Selector.html
          for more information.
        in: query
        name: htmlSelector
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailTextLinesResult'
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - API_KEY: []
      summary: Parse and return text from an email, stripping HTML and decoding encoded
        characters
      tags:
      - Email Controller
      x-accepts: application/json
  /emails/{emailId}/raw:
    get:
      deprecated: false
      description: Returns a raw, unparsed, and unprocessed email. If your client
        has issues processing the response it is likely due to the response content-type
        which is text/plain. If you need a JSON response content-type use the getRawEmailJson
        endpoint
      operationId: getRawEmailContents
      parameters:
      - description: ID of email
        in: path
        name: emailId
        required: true
        schema:
          format: uuid
          type: string
      responses:
        "200":
          content:
            text/plain:
              schema:
                type: string
          description: text/plain raw email
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - API_KEY: []
      summary: Get raw email string. Returns unparsed raw SMTP message with headers
        and body.
      tags:
      - Email Controller
      x-accepts: text/plain
  /emails/{emailId}/raw/json:
    get:
      deprecated: false
      description: Returns a raw, unparsed, and unprocessed email wrapped in a JSON
        response object for easier handling when compared with the getRawEmail text/plain
        response
      operationId: getRawEmailJson
      parameters:
      - description: ID of email
        in: path
        name: emailId
        required: true
        schema:
          format: uuid
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RawEmailJson'
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - API_KEY: []
      summary: Get raw email in JSON. Unparsed SMTP message in JSON wrapper format.
      tags:
      - Email Controller
      x-accepts: application/json
  /emails/{emailId}/textLines:
    get:
      deprecated: false
      description: Parse an email body and return the content as an array of strings.
        HTML parsing uses JSoup and UNIX line separators.
      operationId: getEmailTextLines
      parameters:
      - allowEmptyValue: false
        description: Decode HTML entities
        in: query
        name: decodeHtmlEntities
        schema:
          type: boolean
      - description: ID of email to fetch text for
        in: path
        name: emailId
        required: true
        schema:
          format: uuid
          type: string
      - allowEmptyValue: false
        description: Line separator character
        in: query
        name: lineSeparator
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailTextLinesResult'
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - API_KEY: []
      summary: Parse and return text from an email, stripping HTML and decoding encoded
        characters
      tags:
      - Email Controller
      x-accepts: application/json
  /emails/{emailId}/validate:
    post:
      deprecated: false
      description: Validate the HTML content of email if HTML is found. Considered
        valid if no HTML is present.
      operationId: validateEmail
      parameters:
      - description: ID of email
        in: path
        name: emailId
        required: true
        schema:
          format: uuid
          type: string
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationDto'
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - API_KEY: []
      summary: Validate email HTML contents
      tags:
      - Email Controller
      x-accepts: application/json
  /emptyInbox:
    delete:
      deprecated: false
      description: Deletes all emails
      operationId: emptyInbox
      parameters:
      - description: inboxId
        in: query
        name: inboxId
        required: true
        schema:
          format: uuid
          type: string
      responses:
        "204":
          content: {}
          description: No Content
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
      security:
      - API_KEY: []
      summary: Delete all emails in an inbox
      tags:
      - Common Actions Controller
      x-accepts: application/json
  /expired:
    get:
      deprecated: false
      description: Inboxes created with an expiration date will expire after the given
        date. An ExpiredInboxRecord is created that records the inboxes old ID and
        email address. You can still read emails in the inbox (using the inboxes old
        ID) but the email address associated with the inbox can no longer send or
        receive emails. Fetch expired inbox records to view the old inboxes properties
      operationId: getExpiredInboxes
      parameters:
      - allowEmptyValue: false
        description: Optional page index in inbox sent email list pagination
        in: query
        name: page
        schema:
          default: 0
          format: int32
          type: integer
      - allowEmptyValue: false
        description: Optional page size in inbox sent email list pagination
        in: query
        name: size
        schema:
          default: 20
          format: int32
          type: integer
      - allowEmptyValue: false
        description: Optional createdAt sort direction ASC or DESC
        in: query
        name: sort
        schema:
          default: ASC
          enum:
          - ASC
          - DESC
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageExpiredInboxRecordProjection'
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - API_KEY: []
      summary: List records of expired inboxes
      tags:
      - Expired Controller
      x-accepts: application/json
  /expired/defaults:
    get:
      deprecated: false
      description: Return default times used for inbox expiration
      operationId: getExpirationDefaults
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpirationDefaults'
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - API_KEY: []
      summary: Get default expiration settings
      tags:
      - Expired Controller
      x-accepts: application/json
  /expired/inbox/{inboxId}:
    get:
      deprecated: false
      description: Use the inboxId to return an ExpiredInboxRecord if an inbox has
        expired. Inboxes expire and are disabled if an expiration date is set or plan
        requires. Returns 404 if no expired inbox is found for the inboxId
      operationId: getExpiredInboxByInboxId
      parameters:
      - description: ID of inbox you want to retrieve (not the inbox ID)
        in: path
        name: inboxId
        required: true
        schema:
          format: uuid
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpiredInboxDto'
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - API_KEY: []
      summary: Get expired inbox record for a previously existing inbox
      tags:
      - Expired Controller
      x-accepts: application/json
  /expired/{expiredId}:
    get:
      deprecated: false
      description: Inboxes created with an expiration date will expire after the given
        date and be moved to an ExpiredInbox entity. You can still read emails in
        the inbox but it can no longer send or receive emails. Fetch the expired inboxes
        to view the old inboxes properties
      operationId: getExpiredInboxRecord
      parameters:
      - description: ID of the ExpiredInboxRecord you want to retrieve. This is different
          from the ID of the inbox you are interested in. See other methods for getting
          ExpiredInboxRecord for an inbox inboxId)
        in: path
        name: expiredId
        required: true
        schema:
          format: uuid
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpiredInboxDto'
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - API_KEY: []
      summary: Get an expired inbox record
      tags:
      - Expired Controller
      x-accepts: application/json
  /export:
    get:
      deprecated: false
      operationId: exportEntities
      parameters:
      - description: apiKey
        in: query
        name: apiKey
        required: true
        schema:
          type: string
      - description: createdEarliestTime
        in: query
        name: createdEarliestTime
        schema:
          format: date-time
          type: string
      - description: createdOldestTime
        in: query
        name: createdOldestTime
        schema:
          format: date-time
          type: string
      - description: excludePreviouslyExported
        in: query
        name: excludePreviouslyExported
        schema:
          type: boolean
      - description: exportType
        in: query
        name: exportType
        required: true
        schema:
          enum:
          - INBOXES
          - CONTACTS
          - ATTACHMENTS
          - EMAILS
          type: string
      - description: filter
        in: query
        name: filter
        schema:
          type: string
      - description: listSeparatorToken
        in: query
        name: listSeparatorToken
        schema:
          type: string
      - description: outputFormat
        in: query
        name: outputFormat
        required: true
        schema:
          enum:
          - CSV_DEFAULT
          - CSV_EXCEL
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                format: byte
                type: string
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - API_KEY: []
      summary: Export inboxes link callable via browser
      tags:
      - Export Controller
      x-accepts: application/json
    post:
      deprecated: false
      operationId: getExportLink
      parameters:
      - description: apiKey
        in: query
        name: apiKey
        schema:
          type: string
      - description: exportType
        in: query
        name: exportType
        required: true
        schema:
          enum:
          - INBOXES
          - CONTACTS
          - ATTACHMENTS
          - EMAILS
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExportOptions'
        description: exportOptions
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExportLink'
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - API_KEY: []
      summary: Get export link
      tags:
      - Export Controller
      x-codegen-request-body-name: exportOptions
      x-contentType: application/json
      x-accepts: application/json
  /forms:
    post:
      deprecated: false
      description: "This endpoint allows you to submit HTML forms and receive the\
        \ field values and files via email. \n\n#### Parameters\nThe endpoint looks\
        \ for special meta parameters in the form fields OR in the URL request parameters.\
        \ The meta parameters can be used to specify the behaviour of the email. \n\
        \nYou must provide at-least a `_to` email address to tell the endpoint where\
        \ the form should be emailed. These can be submitted as hidden HTML input\
        \ fields with the corresponding `name` attributes or as URL query parameters\
        \ such as `?_to=test@example.com`\n\nThe endpoint takes all other form fields\
        \ that are named and includes them in the message body of the email. Files\
        \ are sent as attachments.\n\n#### Submitting\nThis endpoint accepts form\
        \ submission via POST method. It accepts `application/x-www-form-urlencoded`,\
        \ and `multipart/form-data` content-types.\n\n#### HTML Example\n```html\n\
        <form \n  action=\"https://api.mailslurp.com/forms\"\n  method=\"post\"\n\
        >\n  <input name=\"_to\" type=\"hidden\" value=\"test@example.com\"/>\n  <textarea\
        \ name=\"feedback\"></textarea>\n  <button type=\"submit\">Submit</button>\n\
        </form>\n```\n\n#### URL Example\n```html\n<form \n  action=\"https://api.mailslurp.com/forms?_to=test@example.com\"\
        \n  method=\"post\"\n>\n  <textarea name=\"feedback\"></textarea>\n  <button\
        \ type=\"submit\">Submit</button>\n</form>\n```\n\n\n\nThe email address is\
        \ specified by a `_to` field OR is extracted from an email alias specified\
        \ by a `_toAlias` field (see the alias controller for more information). \n\
        Endpoint accepts . \nYou can specify a content type in HTML forms using the\
        \ `enctype` attribute, for instance: `<form enctype=\"multipart/form-data\"\
        >`.\n\n"
      operationId: submitForm
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                _emailAddress:
                  description: Email address of the submitting user. Include this
                    if you wish to record the submitters email address and reply to
                    it later.
                  example: test@example.com
                  type: string
                _redirectTo:
                  description: Optional URL to redirect form submitter to after submission.
                    If not present user will see a success message.
                  example: https://mysite.com/form-success
                  type: string
                _spamCheck:
                  description: Optional but recommended field that catches spammers
                    out. Include as a hidden form field but LEAVE EMPTY. Spam-bots
                    will usually fill every field. If the _spamCheck field is filled
                    the form submission will be ignored.
                  type: string
                _subject:
                  description: Optional subject of the email that will be sent.
                  example: My form submission
                  type: string
                _successMessage:
                  description: Optional success message to display if no _redirectTo
                    present.
                  example: Thanks for submitting
                  type: string
                _to:
[...]
