openapi: 3.0.1
info:
  contact:
    email: contact@mailslurp.dev
    url: https://www.mailslurp.com/contact/
  description: |-
    MailSlurp is an API for sending and receiving emails from dynamically allocated email addresses. It's designed for developers and QA teams to test applications, process inbound emails, send templated notifications, attachments, and more.

    ## Resources

    - [Homepage](https://www.mailslurp.com)
    - Get an [API KEY](https://app.mailslurp.com/sign-up/)
    - Generated [SDK Clients](https://docs.mailslurp.com/)
    - [Examples](https://github.com/mailslurp/examples) repository
  license:
    name: Apache 2.0
    url: https://www.mailslurp.com
  title: MailSlurp API
  version: 6.5.2
externalDocs:
  description: MailSlurp API documentation
  url: https://www.mailslurp.com
servers:
- description: MailSlurp API Server
  url: https://java.api.mailslurp.com
security:
- API_KEY: []
tags:
- description: "\"Endpoints for creating, listing, and deleting email aliases. Aliases\
    \ must be validated. Email aliases can be used to hide real email addresses behind\
    \ an alias. If you wish to receive emails with an alias attach an inbox to the\
    \ alias.\n       Whenever the inbox receives an email the email will be forwarded\
    \ to the alias email address. See related `threads`. Threads can be used with\
    \ aliases to enable replying to a proxied email. This means that when threads\
    \ are enabled an email alias will \n       create a new email thread for the message\
    \ and set the replyTo and from headers on the subsequently proxied email to point\
    \ to the threads unique email address. \n       By replying to this address the\
    \ thread will forward it to the original emails sender or replyTo and use the\
    \ same subject and bcc and cc contacts as the email you are replying to. For more\
    \ advanced email operations using aliases use the inboxId for the given alias.\n"
  name: AliasController
- description: "Endpoints for managing email entities. Send and read email using the\
    \ email API. You can fetch emails and attachments, reply to emails, and send new\
    \ emails with this controller. Emails belong to inboxes. \nEach inbox can contain\
    \ unlimited emails that are either permanent or temporary depending on your setup.\
    \ Because emails can be quite large when attachments and content are fetched most\
    \ responses only include a preview of the email and its most important features,\
    \ like subject, recipients etc and an ID. Many list results are in a paginated\
    \ form using an index (zero based) and a page size. To receive email decide on\
    \ either `waitFor` methods (such as `waitForLatestEmail` on the `WaitForController`)\
    \ to wait for emails to arrive. Use `getEmails` on `EmailController` or `getInboxEmails`\
    \ on the `InboxController` to list existing emails. To access the body or attachments\
    \ of an email you need to use the `getEmail` and `getAttachment` endpoints with\
    \ specific inbox and email IDs. The body is returned on full email entities and\
    \ contains the parsed body of the email. The email headers (such as recipients,\
    \ subject etc.) are stored on the email object. You can access the RAW SMTP message\
    \ via various `raw` methods. Attachments are treated as separate entities that\
    \ have an ID and belong to the email. To fetch email attachments first fetch the\
    \ full email then use a `downloadAttachment` method for each `attachmentID`. Attachments\
    \ are transferred in a number of ways as either `application/octect-stream` byte\
    \ arrays or as base64 encoded strings with meta data. You may prefer either depending\
    \ on the environment you are in but the base64 implementations are typically safer.\
    \ See the `AttachmentController`, `InboxController`, and `WaitForController` for\
    \ similar methods. \n    "
  name: EmailController
- description: Form controller for submitting email-able forms
  name: FormController
- name: EmailVerificationController
- description: Endpoints for viewing sent email receipts. These can be used to verify
    that an email has been sent or for historical records. Email content and attachments
    are stored. For legacy reasons the default send endpoint does not return a sent
    email. Use the `sendEmailAndConfirm` methods to receive a sent email receipt after
    sending.
  name: SentEmailsController
- description: "Endpoints for creating and managing inboxes. Also includes endpoints\
    \ for listing emails within inboxes. \nInboxes are a core feature of MailSlurp.\
    \ Each inbox has a unique ID and emailAddress. Inboxes can be either `HTTP` or\
    \ `SMTP` inboxes. Both are email inboxes but `HTTP` mailboxes are processed using\
    \ AWS SES while `SMTP` inboxes use a custom mail server listening at `mx.mailslurp.com`.\
    \ Use `HTTP` inboxes for testing and `SMTP` inboxes for public facing inboxes.\
    \ If your plan allows custom domains you can create inboxes with custom addresses\
    \ that end in your domain. \nBy default inboxes are assigned a random email address\
    \ ending in `@mailslurp.com`. Use the domainPool options to use a randomly selected\
    \ domain from a pool of available domains. Whenever you create an inbox MailSlurp\
    \ will register the address and store any emails sent to the address within your\
    \ inbox. \nYou can use the `InboxController` endpoints to list the emails in an\
    \ inbox. To get the contents or attachments of an email use the ID returned from\
    \ `InboxController` methods to call the `EmailController` endpoints.\"\n"
  name: InboxController
- description: View and manage expired inbox records. If an inbox has an expiration
    date when it is created it will expire at that time and an ExpiredInboxRecord
    will be created for it listing the email address and inbox ID. You can still view
    emails belonging to the inbox by using the inbox ID but the inbox can no longer
    send or receive emails once expired.
  name: ExpiredController
- description: Other endpoints including advanced receive options
  name: BulkActionsController
- description: Endpoints for managing contacts. Contacts can be used for sending emails
    to individuals and groups.
  name: ContactController
- description: Endpoints for managing groups. Groups can be used for sending emails
    to individuals and groups.
  name: GroupController
- name: MailServerController
- description: |
    Endpoints for creating and managing inbox rulesets. Inbox rulesets are sets of rules that can be automatically applied to inbound and outbound emails for an inbox. Rulesets can have a scope, action, and target. The scope is receiving or sending emails. The action is to block, allow, or forward an email. The target is pattern or email address depending on the action. The handler can be used to handle rules silently or trigger an exception when they occur. See inbox controller for similar methods.
  name: InboxRulesetController
- description: Endpoints for managing custom domains. Once you create a custom domain
    you must add the returned verification records to your hosting provider. See support
    or guides for more information.
  name: DomainController
- description: Endpoints for managing tracking entities such as email open and read
    tracking pixels.
  name: TrackingController
- description: 'Endpoints for receiving emails using waitFor methods. The endpoints
    are perfect for synchronous blocking calls, long-polling, or tests (see webhooks
    if you need to respond to email events as they happen using HTTP notification).
    These wait endpoints are all built around a common idea - that you ask for an
    expected number of emails from an inbox and MailSlurp will either: A) Return the
    matching emails if they are present; B) Hold a connection open until the matching
    emails are are received or until a timeout occurs. For test suites we recommend
    that you create a new inbox for each test run  and use the waitForLatestEmail
    to hold the connection until the email you expect arrives. Note if your inbox
    is not already empty waitFor methods may return immediately depending on their
    implementation. See each endpoint for more details.'
  name: WaitForController
- description: Endpoints for creating and managing inbox forwarders. Automatically
    forward emails received by inboxes using rules.
  name: InboxForwarderController
- description: Endpoints for managing MissedEmails. Missed emails are saved whenever
    your account cannot persist a received email because your plan had exceeded a
    given usage at the time. Missed emails can be restored with the assistance of
    the support team.
  name: MissedEmailController
- description: A collection of common actions. Groups together several controllers
    behind a facade with convenience methods. Not recommended. It is better in most
    cases to call the individual controllers directly as they are where many new features
    are added. The controllers are better documented too. This controller is maintained
    for backwards compatibility.
  name: CommonActionsController
- description: Endpoints for access bounced emails and bounced recipients
  name: BounceController
- description: Endpoints for managing phone numbers and addresses
  name: PhoneController
- description: Endpoints for exporting user data to CSV, XML and other formats.
  name: ExportController
- description: Endpoints for managing SMS
  name: SmsController
- description: Endpoints for managing Templates. Templates can be used when sending
    emails and support moustache syntax template variables. Variables can be passed
    with send email options or implicitly available if Contact Groups are used.
  name: TemplateController
- description: 'Endpoints for uploading attachments. Attachments can be uploaded in
    a number of ways: as base64 encoded strings, as byte array octet streams, and
    as multipart form requests. Each upload method returns an array whose first element
    is the ID of the attachment. Use this Id to send the attachment with emails. See
    the EmailController `download` endpoints for downloading attachments. Attachment
    downloads are based on the email ID they belong to and can be downloaded using
    the email controller.'
  name: AttachmentController
- description: Endpoint for interacting with webhooks. Webhooks have a URL that points
    to your server. Useful for email forwarding, email API processing and more. They
    can be added to inboxes and when an inbox receives an email the email ID and inbox
    ID will be posted to the URL endpoint at your server. The schema of the webhook
    payload is available at https://java.api.mailslurp.com/schemas/webhook-payload
    or by calling https://java.api.mailslurp.com/webhooks/test. Use webhooks to react
    in real-time to inbound emails. Use the webhook payload posted to your server
    to fetch the full emails or attachments if you need them. Use the event ID as
    an idempotent record. The ID identifies the webhook payload uniquely. MailSlurp
    tracks webhook processing. It will try not to send the same event twice but it
    can happen. If you receive the same event more than once you can ignore it and
    assume it is the same. It is recommended that you use a store or database to track
    webhooks you have processed to avoid processing events more than once.
  name: WebhookController
paths:
  /webhooks/{webhookId}/headers:
    put:
      operationId: updateWebhookHeaders
      parameters:
      - explode: false
        in: path
        name: webhookId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookHeaders'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WebhookDto'
          description: OK
      summary: Update a webhook request headers
      tags:
      - WebhookController
      x-contentType: application/json
      x-accepts: '*/*'
  /templates/{templateId}:
    delete:
      description: Delete template
      operationId: deleteTemplate
      parameters:
      - description: Template ID
        explode: false
        in: path
        name: templateId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: No Content
      summary: Delete email template
      tags:
      - TemplateController
      x-accepts: application/json
    get:
      description: Get email template
      operationId: getTemplate
      parameters:
      - description: Template ID
        explode: false
        in: path
        name: templateId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TemplateDto'
          description: OK
      summary: Get template
      tags:
      - TemplateController
      x-accepts: '*/*'
    put:
      description: Update email template
      operationId: updateTemplate
      parameters:
      - description: Template ID
        explode: false
        in: path
        name: templateId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTemplateOptions'
        required: true
      responses:
        "201":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TemplateDto'
          description: Created
      summary: Update template
      tags:
      - TemplateController
      x-contentType: application/json
      x-accepts: '*/*'
  /rulesets:
    delete:
      description: Delete inbox rulesets. Accepts optional inboxId filter.
      operationId: deleteInboxRulesets
      parameters:
      - description: Optional inbox id to attach ruleset to
        explode: true
        in: query
        name: inboxId
        required: false
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "204":
          description: No Content
      summary: Delete inbox rulesets
      tags:
      - InboxRulesetController
      x-accepts: application/json
    get:
      description: List all rulesets attached to an inbox
      operationId: getInboxRulesets
      parameters:
      - description: Optional inbox id to get rulesets from
        explode: true
        in: query
        name: inboxId
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: Optional page index in inbox ruleset list pagination
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
      - description: Optional page size in inbox ruleset list pagination
        explode: true
        in: query
        name: size
        required: false
        schema:
          default: 20
          format: int32
          type: integer
        style: form
      - description: Optional createdAt sort direction ASC or DESC
        explode: true
        in: query
        name: sort
        required: false
        schema:
          default: ASC
          enum:
          - ASC
          - DESC
          type: string
        style: form
      - description: Optional search filter
        explode: true
        in: query
        name: searchFilter
        required: false
        schema:
          type: string
        style: form
      - description: Filter by created at after the given timestamp
        explode: true
        in: query
        name: since
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Filter by created at before the given timestamp
        explode: true
        in: query
        name: before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PageInboxRulesetDto'
          description: OK
      summary: List inbox rulesets
      tags:
      - InboxRulesetController
      x-accepts: '*/*'
    patch:
      description: Test new inbox ruleset
      operationId: testNewInboxRuleset
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TestNewInboxRulesetOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InboxRulesetTestResult'
          description: OK
      summary: Test new inbox ruleset
      tags:
      - InboxRulesetController
      x-contentType: application/json
      x-accepts: '*/*'
    post:
      description: Create a new inbox rule for forwarding, blocking, and allowing
        emails when sending and receiving
      operationId: createNewInboxRuleset
      parameters:
      - description: Inbox id to attach ruleset to
        explode: true
        in: query
        name: inboxId
        required: true
        schema:
          format: uuid
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateInboxRulesetOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InboxRulesetDto'
          description: OK
      summary: Create an inbox ruleset
      tags:
      - InboxRulesetController
      x-contentType: application/json
      x-accepts: '*/*'
    put:
      description: Test inbox rulesets for inbox
      operationId: testInboxRulesetsForInbox
      parameters:
      - description: ID of inbox
        explode: true
        in: query
        name: inboxId
        required: true
        schema:
          format: uuid
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InboxRulesetTestOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InboxRulesetTestResult'
          description: OK
      summary: Test inbox rulesets for inbox
      tags:
      - InboxRulesetController
      x-contentType: application/json
      x-accepts: '*/*'
  /inboxes/{inboxId}/favourite:
    put:
      description: Set and return new favourite state for an inbox
      operationId: setInboxFavourited
      parameters:
      - description: ID of inbox to set favourite state
        explode: false
        in: path
        name: inboxId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetInboxFavouritedOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InboxDto'
          description: OK
      summary: Set inbox favourited state
      tags:
      - InboxController
      x-contentType: application/json
      x-accepts: '*/*'
  /groups/{groupId}/contacts:
    delete:
      operationId: removeContactsFromGroup
      parameters:
      - explode: false
        in: path
        name: groupId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateGroupContacts'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GroupContactsDto'
          description: OK
      summary: Remove contacts from a group
      tags:
      - GroupController
      x-contentType: application/json
      x-accepts: '*/*'
    get:
      operationId: getGroupWithContacts
      parameters:
      - explode: false
        in: path
        name: groupId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GroupContactsDto'
          description: OK
      summary: Get group and contacts belonging to it
      tags:
      - GroupController
      x-accepts: '*/*'
    put:
      operationId: addContactsToGroup
      parameters:
      - explode: false
        in: path
        name: groupId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateGroupContacts'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GroupContactsDto'
          description: OK
      summary: Add contacts to a group
      tags:
      - GroupController
      x-contentType: application/json
      x-accepts: '*/*'
  /forwarders:
    delete:
      description: Delete inbox forwarders. Accepts optional inboxId filter.
      operationId: deleteInboxForwarders
      parameters:
      - description: Optional inbox id to attach forwarder to
        explode: true
        in: query
        name: inboxId
        required: false
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "204":
          description: No Content
      summary: Delete inbox forwarders
      tags:
      - InboxForwarderController
      x-accepts: application/json
    get:
      description: List all forwarders attached to an inbox
      operationId: getInboxForwarders
      parameters:
      - description: Optional inbox id to get forwarders from
        explode: true
        in: query
        name: inboxId
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: Optional page index in inbox forwarder list pagination
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
      - description: Optional page size in inbox forwarder list pagination
        explode: true
        in: query
        name: size
        required: false
        schema:
          default: 20
          format: int32
          type: integer
        style: form
      - description: Optional createdAt sort direction ASC or DESC
        explode: true
        in: query
        name: sort
        required: false
        schema:
          default: ASC
          enum:
          - ASC
          - DESC
          type: string
        style: form
      - description: Optional search filter
        explode: true
        in: query
        name: searchFilter
        required: false
        schema:
          type: string
        style: form
      - description: Filter by created at after the given timestamp
        explode: true
        in: query
        name: since
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Filter by created at before the given timestamp
        explode: true
        in: query
        name: before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PageInboxForwarderDto'
          description: OK
      summary: List inbox forwarders
      tags:
      - InboxForwarderController
      x-accepts: '*/*'
    patch:
      description: Test new inbox forwarder
      operationId: testNewInboxForwarder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TestNewInboxForwarderOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InboxForwarderTestResult'
          description: OK
      summary: Test new inbox forwarder
      tags:
      - InboxForwarderController
      x-contentType: application/json
      x-accepts: '*/*'
    post:
      description: Create a new inbox rule for forwarding, blocking, and allowing
        emails when sending and receiving
      operationId: createNewInboxForwarder
      parameters:
      - description: Inbox id to attach forwarder to
        explode: true
        in: query
        name: inboxId
        required: true
        schema:
          format: uuid
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateInboxForwarderOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InboxForwarderDto'
          description: OK
      summary: Create an inbox forwarder
      tags:
      - InboxForwarderController
      x-contentType: application/json
      x-accepts: '*/*'
    put:
      description: Test inbox forwarders for inbox
      operationId: testInboxForwardersForInbox
      parameters:
      - description: ID of inbox
        explode: true
        in: query
        name: inboxId
        required: true
        schema:
          format: uuid
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InboxForwarderTestOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InboxForwarderTestResult'
          description: OK
      summary: Test inbox forwarders for inbox
      tags:
      - InboxForwarderController
      x-contentType: application/json
      x-accepts: '*/*'
  /emails/{emailId}:
    delete:
      description: Deletes an email and removes it from the inbox. Deleted emails
        cannot be recovered.
      operationId: deleteEmail
      parameters:
      - description: ID of email to delete
        explode: false
        in: path
        name: emailId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: No Content
      summary: Delete an email
      tags:
      - EmailController
      x-accepts: application/json
    get:
      description: Returns a email summary object with headers and content. To retrieve
        the raw unparsed email use the getRawEmail endpoints
      operationId: getEmail
      parameters:
      - explode: false
        in: path
        name: emailId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Decode email body quoted-printable encoding to plain text. SMTP
          servers often encode text using quoted-printable format (for instance `=D7`).
          This can be a pain for testing
        explode: true
        in: query
        name: decode
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Email'
          description: OK
      summary: Get email content including headers and body. Expects email to exist
        by ID. For emails that may not have arrived yet use the WaitForController.
      tags:
      - EmailController
      x-accepts: '*/*'
    put:
      description: Send the reply to the email sender or reply-to and include same
        subject cc bcc etc. Reply to an email and the contents will be sent with the
        existing subject to the emails `to`, `cc`, and `bcc`.
      operationId: replyToEmail
      parameters:
      - description: ID of the email that should be replied to
        explode: false
        in: path
        name: emailId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReplyToEmailOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SentEmailDto'
          description: OK
      summary: Reply to an email
      tags:
      - EmailController
      x-contentType: application/json
      x-accepts: '*/*'
  /domains/{id}:
    delete:
      description: Delete a domain. This will disable any existing inboxes that use
        this domain.
      operationId: deleteDomain
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          content:
            '*/*':
              schema:
                items:
                  type: string
                type: array
          description: No Content
      summary: Delete a domain
      tags:
      - DomainController
      x-accepts: '*/*'
    get:
      description: Returns domain verification status and tokens for a given domain
      operationId: getDomain
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DomainDto'
          description: OK
      summary: Get a domain
      tags:
      - DomainController
      x-accepts: '*/*'
    put:
      description: Update values on a domain. Note you cannot change the domain name
        as it is immutable. Recreate the domain if you need to alter this.
      operationId: updateDomain
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDomainOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DomainDto'
          description: OK
      summary: Update a domain
      tags:
      - DomainController
      x-contentType: application/json
      x-accepts: '*/*'
  /aliases/{aliasId}:
    delete:
      operationId: deleteAlias
      parameters:
      - explode: false
        in: path
        name: aliasId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: No Content
      summary: Delete an email alias
      tags:
      - AliasController
      x-accepts: application/json
    get:
      description: Get an email alias by ID
      operationId: getAlias
      parameters:
      - explode: false
        in: path
        name: aliasId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AliasDto'
          description: OK
      summary: Get an email alias
      tags:
      - AliasController
      x-accepts: '*/*'
    put:
      operationId: updateAlias
      parameters:
      - explode: false
        in: path
        name: aliasId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAliasOptions'
        required: true
      responses:
        "202":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AliasDto'
          description: Accepted
      summary: Update an email alias
      tags:
      - AliasController
      x-contentType: application/json
      x-accepts: '*/*'
  /aliases/{aliasId}/emails/{emailId}:
    put:
      description: Send the reply to the email sender or reply-to and include same
        subject cc bcc etc. Reply to an email and the contents will be sent with the
        existing subject to the emails `to`, `cc`, and `bcc`.
      operationId: replyToAliasEmail
      parameters:
      - description: ID of the alias that email belongs to
        explode: false
        in: path
        name: aliasId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: ID of the email that should be replied to
        explode: false
        in: path
        name: emailId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReplyToAliasEmailOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SentEmailDto'
          description: OK
      summary: Reply to an email
      tags:
      - AliasController
      x-contentType: application/json
      x-accepts: '*/*'
  /webhooks:
    delete:
      operationId: deleteAllWebhooks
      parameters:
      - description: before
        explode: true
        in: query
        name: before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "204":
          description: No Content
      summary: Delete all webhooks
      tags:
      - WebhookController
      x-accepts: application/json
    post:
      description: Get notified of account level events such as bounce and bounce
        recipient.
      operationId: createAccountWebhook
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWebhookOptions'
        required: true
      responses:
        "201":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WebhookDto'
          description: Created
      summary: Attach a WebHook URL to an inbox
      tags:
      - WebhookController
      x-contentType: application/json
      x-accepts: '*/*'
  /webhooks/{webhookId}/test:
    post:
      operationId: sendTestData
      parameters:
      - explode: false
        in: path
        name: webhookId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "201":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WebhookTestResult'
          description: Created
      summary: Send webhook test data
      tags:
      - WebhookController
      x-accepts: '*/*'
  /webhooks/{webhookId}/schema:
    post:
      description: Get JSON Schema definition for webhook payload
      operationId: getJsonSchemaForWebhookPayload
      parameters:
      - explode: false
        in: path
        name: webhookId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/JSONSchemaDto'
          description: OK
      tags:
      - WebhookController
      x-accepts: '*/*'
  /webhooks/{webhookId}/example:
    post:
      description: Get example payload for webhook
      operationId: getTestWebhookPayloadForWebhook
      parameters:
      - explode: false
        in: path
        name: webhookId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "201":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AbstractWebhookPayload'
          description: Created
      tags:
      - WebhookController
      x-accepts: '*/*'
  /webhooks/verify:
    post:
      description: Verify a webhook payload using the messageId and signature. This
        allows you to be sure that MailSlurp sent the payload and not another server.
      operationId: verifyWebhookSignature
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyWebhookSignatureOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/VerifyWebhookSignatureResults'
          description: OK
      summary: Verify a webhook payload signature
      tags:
      - WebhookController
      x-contentType: application/json
      x-accepts: '*/*'
  /webhooks/schema:
    post:
      description: Get JSON Schema definition for webhook payload by event
      operationId: getJsonSchemaForWebhookEvent
      parameters:
      - explode: true
        in: query
        name: event
        required: true
        schema:
          enum:
          - EMAIL_RECEIVED
          - NEW_EMAIL
          - NEW_CONTACT
          - NEW_ATTACHMENT
          - EMAIL_OPENED
          - EMAIL_READ
          - DELIVERY_STATUS
          - BOUNCE
          - BOUNCE_RECIPIENT
          - NEW_SMS
          type: string
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/JSONSchemaDto'
          description: OK
      tags:
      - WebhookController
      x-accepts: '*/*'
  /webhooks/results/{webhookResultId}/redrive:
    post:
      description: Allows you to resend a webhook payload that was already sent. Webhooks
        that fail are retried automatically for 24 hours and then put in a dead letter
        queue. You can retry results manually using this method.
      operationId: redriveWebhookResult
      parameters:
      - description: Webhook Result ID
        explode: false
        in: path
        name: webhookResultId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WebhookRedriveResult'
          description: OK
      summary: Get a webhook result and try to resend the original webhook payload
      tags:
      - WebhookController
      x-accepts: '*/*'
  /waitFor:
    post:
      description: Generic waitFor method that will wait until an inbox meets given
        conditions or return immediately if already met
      operationId: waitFor
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WaitForConditions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/EmailPreview'
                type: array
          description: OK
      summary: Wait for an email to match the provided filter conditions such as subject
        contains keyword.
      tags:
      - WaitForController
      x-contentType: application/json
      x-accepts: '*/*'
  /waitForSms:
    post:
      description: Generic waitFor method that will wait until a phone number meets
        given conditions or return immediately if already met
      operationId: waitForSms
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WaitForSmsConditions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/SmsPreview'
                type: array
          description: OK
      summary: Wait for an SMS message to match the provided filter conditions such
        as body contains keyword.
      tags:
      - WaitForController
      x-contentType: application/json
      x-accepts: '*/*'
  /waitForMatchingFirstEmail:
    post:
      description: 'Perform a search of emails in an inbox with the given patterns.
        If a result if found then return or else retry the search until a result is
        found or timeout is reached. Match options allow simple CONTAINS or EQUALS
        filtering on SUBJECT, TO, BCC, CC, and FROM. See the `MatchOptions` object
        for options. An example payload is `{ matches: [{field: ''SUBJECT'',should:''CONTAIN'',value:''needle''}]
        }`. You can use an array of matches and they will be applied sequentially
        to filter out emails. If you want to perform matches and extractions of content
        using Regex patterns see the EmailController `getEmailContentMatch` method.'
      operationId: waitForMatchingFirstEmail
      parameters:
      - description: Id of the inbox we are matching an email for
        explode: true
        in: query
        name: inboxId
        required: true
        schema:
          format: uuid
          type: string
        style: form
      - description: Max milliseconds to wait
        explode: true
        in: query
        name: timeout
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Optional filter for unread only
        explode: true
        in: query
        name: unreadOnly
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Filter for emails that were received after the given timestamp
        explode: true
        in: query
        name: since
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Filter for emails that were received before the given timestamp
        explode: true
        in: query
        name: before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Sort direction
        explode: true
        in: query
        name: sort
        required: false
        schema:
          enum:
          - ASC
          - DESC
          type: string
        style: form
      - description: Max milliseconds delay between calls
        explode: true
        in: query
        name: delay
        required: false
        schema:
          format: int64
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MatchOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Email'
          description: OK
      summary: Wait for or return the first email that matches provided MatchOptions
        array
      tags:
      - WaitForController
      x-contentType: application/json
      x-accepts: '*/*'
  /waitForMatchingEmails:
    post:
      description: 'Perform a search of emails in an inbox with the given patterns.
        If results match expected count then return or else retry the search until
        results are found or timeout is reached. Match options allow simple CONTAINS
        or EQUALS filtering on SUBJECT, TO, BCC, CC, and FROM. See the `MatchOptions`
        object for options. An example payload is `{ matches: [{field: ''SUBJECT'',should:''CONTAIN'',value:''needle''}]
        }`. You can use an array of matches and they will be applied sequentially
        to filter out emails. If you want to perform matches and extractions of content
        using Regex patterns see the EmailController `getEmailContentMatch` method.'
      operationId: waitForMatchingEmails
      parameters:
      - description: Id of the inbox we are fetching emails from
        explode: true
        in: query
        name: inboxId
        required: true
        schema:
          format: uuid
          type: string
        style: form
      - description: Number of emails to wait for. Must be greater or equal to 1
        explode: true
        in: query
        name: count
        required: true
        schema:
          format: int32
          minimum: 1
          type: integer
        style: form
      - description: Filter for emails that were received before the given timestamp
        explode: true
        in: query
        name: before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Filter for emails that were received after the given timestamp
        explode: true
        in: query
        name: since
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Sort direction
        explode: true
        in: query
        name: sort
        required: false
        schema:
          enum:
          - ASC
          - DESC
          type: string
        style: form
      - description: Max milliseconds delay between calls
        explode: true
        in: query
        name: delay
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Max milliseconds to wait
        explode: true
        in: query
        name: timeout
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Optional filter for unread only
        explode: true
        in: query
        name: unreadOnly
        required: false
        schema:
          default: false
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MatchOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/EmailPreview'
                type: array
          description: OK
      summary: Wait or return list of emails that match simple matching patterns
      tags:
      - WaitForController
      x-contentType: application/json
      x-accepts: '*/*'
  /waitForLatestSms:
    post:
      description: Wait until a phone number meets given conditions or return immediately
        if already met
      operationId: waitForLatestSms
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WaitForSingleSmsOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SmsDto'
          description: OK
      summary: Wait for the latest SMS message to match the provided filter conditions
        such as body contains keyword.
      tags:
      - WaitForController
      x-contentType: application/json
      x-accepts: '*/*'
  /user/json/pluck:
    post:
      description: Utility function to extract properties from JSON objects in language
        where this is cumbersome.
      operationId: getJsonPropertyAsString
      parameters:
      - description: JSON property name or dot separated path selector such as `a.b.c`
        explode: true
        in: query
        name: property
        required: true
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonNode'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                type: string
          description: OK
      tags:
      - api-user-controller
      x-contentType: application/json
      x-accepts: '*/*'
  /tracking/pixels:
    get:
      description: List tracking pixels in paginated form
      operationId: getAllTrackingPixels
      parameters:
      - description: Optional page index in list pagination
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
      - description: Optional page size in list pagination
        explode: true
        in: query
        name: size
        required: false
        schema:
          default: 20
          format: int32
          type: integer
        style: form
      - description: Optional createdAt sort direction ASC or DESC
        explode: true
        in: query
        name: sort
        required: false
        schema:
          default: ASC
          enum:
          - ASC
          - DESC
          type: string
        style: form
      - description: Optional search filter
        explode: true
        in: query
        name: searchFilter
        required: false
        schema:
          type: string
        style: form
      - description: Filter by created at after the given timestamp
        explode: true
        in: query
        name: since
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Filter by created at before the given timestamp
        explode: true
        in: query
        name: before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PageTrackingPixelProjection'
          description: OK
      summary: Get tracking pixels
      tags:
      - TrackingController
      x-accepts: '*/*'
    post:
      description: Create a tracking pixel. A tracking pixel is an image that can
        be embedded in an email. When the email is viewed and the image is seen MailSlurp
        will mark the pixel as seen. Use tracking pixels to monitor email open events.
        You can receive open notifications via webhook or by fetching the pixel.
      operationId: createTrackingPixel
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTrackingPixelOptions'
        required: true
      responses:
        "201":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TrackingPixelDto'
          description: Created
      summary: Create tracking pixel
      tags:
      - TrackingController
      x-contentType: application/json
      x-accepts: '*/*'
  /templates:
    get:
      description: Get all templates
      operationId: getTemplates
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/TemplateProjection'
                type: array
          description: OK
      summary: List templates
      tags:
      - TemplateController
      x-accepts: '*/*'
    post:
      description: Create an email template with variables for use with templated
        transactional emails.
      operationId: createTemplate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTemplateOptions'
        required: true
      responses:
        "201":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TemplateDto'
          description: Created
      summary: Create a Template
      tags:
      - TemplateController
      x-contentType: application/json
      x-accepts: '*/*'
  /sendEmail:
    post:
      description: If no senderId or inboxId provided a random email address will
        be used to send from.
      operationId: sendEmailSimple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SimpleSendEmailOptions'
        required: true
      responses:
        "201":
          description: Created
      summary: Send an email
      tags:
      - CommonActionsController
      x-contentType: application/json
      x-accepts: application/json
  /rulesets/{id}/test:
    post:
      description: Test an inbox ruleset
      operationId: testInboxRuleset
      parameters:
      - description: ID of inbox ruleset
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InboxRulesetTestOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InboxRulesetTestResult'
          description: OK
      summary: Test an inbox ruleset
      tags:
      - InboxRulesetController
      x-contentType: application/json
      x-accepts: '*/*'
  /phone/numbers/{phoneNumberId}/webhooks:
    post:
      description: Get notified whenever a phone number receives an SMS via a WebHook
        URL.
      operationId: createWebhookForPhoneNumber
      parameters:
      - explode: false
        in: path
        name: phoneNumberId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWebhookOptions'
        required: true
      responses:
        "201":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WebhookDto'
          description: Created
      summary: Attach a WebHook URL to a phone number
      tags:
      - WebhookController
      x-contentType: application/json
      x-accepts: '*/*'
  /phone/numbers/{phoneNumberId}/test:
    post:
      operationId: testPhoneNumberSendSms
      parameters:
      - explode: false
        in: header
        name: x-test-id
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: phoneNumberId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TestPhoneNumberOptions'
        required: true
      responses:
        "200":
          description: OK
      tags:
      - PhoneController
      x-contentType: application/json
      x-accepts: application/json
  /phone/emergency-addresses:
    get:
      operationId: getEmergencyAddresses
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/EmergencyAddressDto'
                type: array
          description: OK
      tags:
      - PhoneController
      x-accepts: '*/*'
    post:
      operationId: createEmergencyAddress
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEmergencyAddressOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/EmergencyAddress'
          description: OK
      tags:
      - PhoneController
      x-contentType: application/json
      x-accepts: '*/*'
  /newEmailAddress:
    post:
      description: Returns an Inbox with an `id` and an `emailAddress`
      operationId: createNewEmailAddress
      parameters:
      - explode: true
        in: query
        name: allowTeamAccess
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: useDomainPool
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: expiresAt
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: expiresIn
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: emailAddress
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: inboxType
        required: false
        schema:
          description: Type of inbox. HTTP inboxes are faster and better for most
            cases. SMTP inboxes are more suited for public facing inbound messages
            (but cannot send).
          enum:
          - HTTP_INBOX
          - SMTP_INBOX
          type: string
        style: form
      - explode: true
        in: query
        name: description
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: tags
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: favourite
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: virtualInbox
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "201":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InboxDto'
          description: Created
      summary: Create new random inbox
      tags:
      - CommonActionsController
      x-accepts: '*/*'
  /missed-emails/restore:
    post:
      description: If emails were missed due to a plan limit they are saved as missed
        emails. If support team enables the canRestore flag these emails can be reload
        into your account using this method.
      operationId: restoreMissedEmails
      responses:
        "200":
          description: OK
      summary: Restore missed emails
      tags:
      - MissedEmailController
      x-accepts: application/json
  /mail-server/verify/email-address:
    post:
      deprecated: true
      operationId: verifyEmailAddress
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyEmailAddressOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/EmailVerificationResult'
          description: OK
      summary: Deprecated. Use the EmailVerificationController methods for more accurate
        and reliable functionality. Verify the existence of an email address at a
        given mail server.
      tags:
      - MailServerController
      x-contentType: application/json
      x-accepts: '*/*'
  /mail-server/describe/ip-address:
    post:
      operationId: getIpAddress
      parameters:
      - explode: true
        in: query
        name: name
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/IPAddressResult'
          description: OK
      summary: Get IP address for a domain
      tags:
      - MailServerController
      x-accepts: '*/*'
  /mail-server/describe/domain:
    post:
      operationId: describeMailServerDomain
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DescribeDomainOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DescribeMailServerDomainResult'
          description: OK
      summary: Get DNS Mail Server records for a domain
      tags:
      - MailServerController
      x-contentType: application/json
      x-accepts: '*/*'
  /mail-server/describe/dns-lookup:
    post:
      operationId: getDnsLookup
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DNSLookupOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DNSLookupResults'
          description: OK
      summary: Lookup DNS records for a domain
      tags:
      - MailServerController
      x-contentType: application/json
      x-accepts: '*/*'
  /inboxes:
    delete:
      description: 'Permanently delete all inboxes and associated email addresses.
        This will also delete all emails within the inboxes. Be careful as inboxes
        cannot be recovered once deleted. Note: deleting inboxes will not impact your
        usage limits. Monthly inbox creation limits are based on how many inboxes
        were created in the last 30 days, not how many inboxes you currently have.'
      operationId: deleteAllInboxes
      responses:
        "204":
          description: No Content
      summary: Delete all inboxes
      tags:
      - InboxController
      x-accepts: application/json
    get:
      deprecated: true
      description: List the inboxes you have created. Note use of the more advanced
        `getAllInboxes` is recommended and allows paginated access using a limit and
        sort parameter.
      operationId: getInboxes
      parameters:
      - description: Optional result size limit. Note an automatic limit of 100 results
          is applied. See the paginated `getAllEmails` for larger queries.
        explode: true
        in: query
        name: size
        required: false
        schema:
          default: 100
          format: int32
          maximum: 100
          type: integer
        style: form
      - description: Optional createdAt sort direction ASC or DESC
        explode: true
        in: query
        name: sort
        required: false
        schema:
          default: ASC
          enum:
          - ASC
          - DESC
          type: string
        style: form
      - description: Optional filter by created after given date time
        explode: true
        in: query
        name: since
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Optional filter by created before given date time
        explode: true
        in: query
        name: before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/InboxDto'
                type: array
          description: OK
      summary: List Inboxes and email addresses
      tags:
      - InboxController
      x-accepts: '*/*'
    post:
      description: 'Create a new inbox and with a randomized email address to send
        and receive from. Pass emailAddress parameter if you wish to use a specific
        email address. Creating an inbox is required before sending or receiving emails.
        If writing tests it is recommended that you create a new inbox during each
        test method so that it is unique and empty. '
      operationId: createInbox
      parameters:
      - description: A custom email address to use with the inbox. Defaults to null.
          When null MailSlurp will assign a random email address to the inbox such
          as `123@mailslurp.com`. If you use the `useDomainPool` option when the email
          address is null it will generate an email address with a more varied domain
          ending such as `123@mailslurp.info` or `123@mailslurp.biz`. When a custom
          email address is provided the address is split into a domain and the domain
          is queried against your user. If you have created the domain in the MailSlurp
          dashboard and verified it you can use any email address that ends with the
          domain. Note domain types must match the inbox type - so `SMTP` inboxes
          will only work with `SMTP` type domains. Avoid `SMTP` inboxes if you need
          to send emails as they can only receive. Send an email to this address and
          the inbox will receive and store it for you. To retrieve the email use the
          Inbox and Email Controller endpoints with the inbox ID.
        explode: true
        in: query
        name: emailAddress
        required: false
        schema:
          type: string
        style: form
      - description: Tags that inbox has been tagged with. Tags can be added to inboxes
          to group different inboxes within an account. You can also search for inboxes
          by tag in the dashboard UI.
        explode: true
        in: query
        name: tags
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Optional name of the inbox. Displayed in the dashboard for easier
          search and used as the sender name when sending emails.
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: Optional description of the inbox for labelling purposes. Is
          shown in the dashboard and can be used with
        explode: true
        in: query
        name: description
        required: false
        schema:
          type: string
        style: form
      - description: Use the MailSlurp domain name pool with this inbox when creating
          the email address. Defaults to null. If enabled the inbox will be an email
          address with a domain randomly chosen from a list of the MailSlurp domains.
          This is useful when the default `@mailslurp.com` email addresses used with
          inboxes are blocked or considered spam by a provider or receiving service.
          When domain pool is enabled an email address will be generated ending in
          `@mailslurp.{world,info,xyz,...}` . This means a TLD is randomly selecting
          from a list of `.biz`, `.info`, `.xyz` etc to add variance to the generated
          email addresses. When null or false MailSlurp uses the default behavior
          of `@mailslurp.com` or custom email address provided by the emailAddress
          field. Note this feature is only available for `HTTP` inbox types.
        explode: true
        in: query
        name: useDomainPool
        required: false
        schema:
          type: boolean
        style: form
      - description: Is the inbox a favorite. Marking an inbox as a favorite is typically
          done in the dashboard for quick access or filtering
        explode: true
        in: query
        name: favourite
        required: false
        schema:
          type: boolean
        style: form
      - description: Optional inbox expiration date. If null then this inbox is permanent
          and the emails in it won't be deleted. If an expiration date is provided
          or is required by your plan the inbox will be closed when the expiration
          time is reached. Expired inboxes still contain their emails but can no longer
          send or receive emails. An ExpiredInboxRecord is created when an inbox and
          the email address and inbox ID are recorded. The expiresAt property is a
          timestamp string in ISO DateTime Format yyyy-MM-dd'T'HH:mm:ss.SSSXXX.
        explode: true
        in: query
        name: expiresAt
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Number of milliseconds that inbox should exist for
        explode: true
        in: query
        name: expiresIn
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: DEPRECATED (team access is always true). Grant team access to
          this inbox and the emails that belong to it for team members of your organization.
        explode: true
        in: query
        name: allowTeamAccess
        required: false
        schema:
          type: boolean
        style: form
      - description: HTTP (default) or SMTP inbox type. HTTP inboxes are default and
          best solution for most cases. SMTP inboxes are more reliable for public
          inbound email consumption (but do not support sending emails). When using
          custom domains the domain type must match the inbox type. HTTP inboxes are
          processed by AWS SES while SMTP inboxes use a custom mail server running
          at `mx.mailslurp.com`.
        explode: true
        in: query
        name: inboxType
        required: false
        schema:
          description: Type of inbox. HTTP inboxes are faster and better for most
            cases. SMTP inboxes are more suited for public facing inbound messages
            (but cannot send).
          enum:
          - HTTP_INBOX
          - SMTP_INBOX
          type: string
        style: form
      - description: Virtual inbox prevents any outbound emails from being sent. It
          creates sent email records but will never send real emails to recipients.
          Great for testing and faking email sending.
        explode: true
        in: query
        name: virtualInbox
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "201":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InboxDto'
          description: Created
      summary: Create an inbox email address. An inbox has a real email address and
        can send and receive emails. Inboxes can be either `SMTP` or `HTTP` inboxes.
      tags:
      - InboxController
      x-accepts: '*/*'
  /inboxes/{inboxId}:
    delete:
      description: 'Permanently delete an inbox and associated email address as well
        as all emails within the given inbox. This action cannot be undone. Note:
        deleting an inbox will not affect your account usage. Monthly inbox usage
        is based on how many inboxes you create within 30 days, not how many exist
        at time of request.'
      operationId: deleteInbox
      parameters:
      - explode: false
        in: path
        name: inboxId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: No Content
      summary: Delete inbox
      tags:
      - InboxController
      x-accepts: application/json
    get:
      description: Returns an inbox's properties, including its email address and
        ID.
      operationId: getInbox
      parameters:
      - explode: false
        in: path
        name: inboxId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InboxDto'
          description: OK
      summary: Get Inbox. Returns properties of an inbox.
      tags:
      - InboxController
      x-accepts: '*/*'
    patch:
      description: Update editable fields on an inbox
      operationId: updateInbox
      parameters:
      - explode: false
        in: path
        name: inboxId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateInboxOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InboxDto'
          description: OK
      summary: Update Inbox. Change name and description. Email address is not editable.
      tags:
      - InboxController
      x-contentType: application/json
      x-accepts: '*/*'
    post:
      description: "Send an email from an inbox's email address. \nThe request body\
        \ should contain the `SendEmailOptions` that include recipients, attachments,\
        \ body etc. See `SendEmailOptions` for all available properties. Note the\
        \ `inboxId` refers to the inbox's id not the inbox's email address. See https://www.mailslurp.com/guides/\
        \ for more information on how to send emails. This method does not return\
        \ a sent email entity due to legacy reasons. To send and get a sent email\
        \ as returned response use the sister method `sendEmailAndConfirm`."
      operationId: sendEmail
      parameters:
      - description: ID of the inbox you want to send the email from
        explode: false
        in: path
        name: inboxId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendEmailOptions'
        required: true
      responses:
        "201":
          description: Created
      summary: Send Email
      tags:
      - InboxController
      x-contentType: application/json
      x-accepts: application/json
  /inboxes/{inboxId}/with-schedule:
    post:
      description: Send an email using a delay. Will place the email onto a scheduler
        that will then be processed and sent. Use delays to schedule email sending.
      operationId: sendWithSchedule
      parameters:
      - description: ID of the inbox you want to send the email from
        explode: false
        in: path
        name: inboxId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Sending timestamp
        explode: true
        in: query
        name: sendAtTimestamp
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Send after n seconds
        explode: true
        in: query
        name: sendAtNowPlusSeconds
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Validate before adding to queue
        explode: true
        in: query
        name: validateBeforeEnqueue
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendEmailOptions'
        required: true
      responses:
        "201":
          description: Created
      summary: Send email with with delay or schedule
      tags:
      - InboxController
      x-contentType: application/json
      x-accepts: application/json
  /inboxes/{inboxId}/with-queue:
    post:
      description: Send an email using a queue. Will place the email onto a queue
        that will then be processed and sent. Use this queue method to enable any
        failed email sending to be recovered. This will prevent lost emails when sending
        if your account encounters a block or payment issue.
      operationId: sendEmailWithQueue
      parameters:
      - description: ID of the inbox you want to send the email from
        explode: false
        in: path
        name: inboxId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Validate before adding to queue
        explode: true
        in: query
        name: validateBeforeEnqueue
        required: true
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendEmailOptions'
        required: true
      responses:
        "201":
          description: Created
      summary: Send email with queue
      tags:
      - InboxController
      x-contentType: application/json
      x-accepts: application/json
  /inboxes/{inboxId}/webhooks:
    get:
      deprecated: true
      operationId: getWebhooks
      parameters:
      - explode: false
        in: path
        name: inboxId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/WebhookDto'
                type: array
          description: OK
      summary: Get all webhooks for an Inbox
      tags:
      - WebhookController
      x-accepts: '*/*'
    post:
      description: Get notified whenever an inbox receives an email via a WebHook
        URL. An emailID will be posted to this URL every time an email is received
        for this inbox. The URL must be publicly reachable by the MailSlurp server.
        You can provide basicAuth values if you wish to secure this endpoint.
      operationId: createWebhook
      parameters:
      - explode: false
        in: path
        name: inboxId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWebhookOptions'
        required: true
      responses:
        "201":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WebhookDto'
          description: Created
      summary: Attach a WebHook URL to an inbox
      tags:
      - WebhookController
      x-contentType: application/json
      x-accepts: '*/*'
  /inboxes/{inboxId}/smtp-envelope:
    post:
      description: Send email using an SMTP envelope containing RCPT TO, MAIL FROM,
        and a SMTP BODY.
      operationId: sendSmtpEnvelope
      parameters:
      - description: ID of the inbox you want to send the email from
        explode: false
        in: path
        name: inboxId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendSMTPEnvelopeOptions'
        required: true
      responses:
        "201":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SentEmailDto'
          description: Created
      summary: Send email using an SMTP mail envelope and message body and return
        sent confirmation
      tags:
      - InboxController
      x-contentType: application/json
      x-accepts: '*/*'
  /inboxes/{inboxId}/send-test-email:
    post:
      description: Send an inbox a test email to test email receiving is working
      operationId: sendTestEmail
      parameters:
      - explode: false
        in: path
        name: inboxId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: No Content
      summary: Send a test email to inbox
      tags:
      - InboxController
      x-accepts: application/json
  /inboxes/{inboxId}/rulesets:
    get:
      description: List all rulesets attached to an inbox
      operationId: listInboxRulesets
      parameters:
      - explode: false
        in: path
        name: inboxId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Optional page index in inbox ruleset list pagination
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
      - description: Optional page size in inbox ruleset list pagination
        explode: true
        in: query
        name: size
        required: false
        schema:
          default: 20
          format: int32
          type: integer
        style: form
      - description: Optional createdAt sort direction ASC or DESC
        explode: true
        in: query
        name: sort
        required: false
        schema:
          default: ASC
          enum:
          - ASC
          - DESC
          type: string
        style: form
      - description: Optional search filter
        explode: true
        in: query
        name: searchFilter
        required: false
        schema:
          type: string
        style: form
      - description: Optional filter by created after given date time
        explode: true
        in: query
        name: since
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Optional filter by created before given date time
        explode: true
        in: query
        name: before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PageInboxRulesetDto'
          description: OK
      summary: List inbox rulesets
      tags:
      - InboxController
      x-accepts: '*/*'
    post:
      description: Create a new inbox rule for forwarding, blocking, and allowing
        emails when sending and receiving
      operationId: createInboxRuleset
      parameters:
      - description: inboxId
        explode: false
        in: path
        name: inboxId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateInboxRulesetOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InboxRulesetDto'
          description: OK
      summary: Create an inbox ruleset
      tags:
      - InboxController
      x-contentType: application/json
      x-accepts: '*/*'
  /inboxes/{inboxId}/confirm:
    post:
      description: Sister method for standard `sendEmail` method with the benefit
        of returning a `SentEmail` entity confirming the successful sending of the
        email with a link to the sent object created for it.
      operationId: sendEmailAndConfirm
      parameters:
      - description: ID of the inbox you want to send the email from
        explode: false
        in: path
        name: inboxId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendEmailOptions'
        required: true
      responses:
        "201":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SentEmailDto'
          description: Created
      summary: Send email and return sent confirmation
      tags:
      - InboxController
      x-contentType: application/json
      x-accepts: '*/*'
  /inboxes/withOptions:
    post:
      description: Additional endpoint that allows inbox creation with request body
        options. Can be more flexible that other methods for some clients.
      operationId: createInboxWithOptions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateInboxDto'
        required: true
      responses:
        "201":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InboxDto'
          description: Created
      summary: Create an inbox with options. Extended options for inbox creation.
      tags:
      - InboxController
      x-contentType: application/json
      x-accepts: '*/*'
  /inboxes/withDefaults:
    post:
      operationId: createInboxWithDefaults
      responses:
        "201":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InboxDto'
          description: Created
      summary: Create an inbox with default options. Uses MailSlurp domain pool address
        and is private.
      tags:
      - InboxController
      x-accepts: '*/*'
  /groups:
    get:
      operationId: getGroups
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/GroupProjection'
                type: array
          description: OK
      summary: Get all groups
      tags:
      - GroupController
      x-accepts: '*/*'
    post:
      operationId: createGroup
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateGroupOptions'
        required: true
      responses:
        "201":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GroupDto'
          description: Created
      summary: Create a group
      tags:
      - GroupController
      x-contentType: application/json
      x-accepts: '*/*'
  /forwarders/{id}/test:
    post:
      description: Test an inbox forwarder
      operationId: testInboxForwarder
      parameters:
      - description: ID of inbox forwarder
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InboxForwarderTestOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InboxForwarderTestResult'
          description: OK
      summary: Test an inbox forwarder
      tags:
      - InboxForwarderController
      x-contentType: application/json
      x-accepts: '*/*'
  /forms:
    post:
      description: "This endpoint allows you to submit HTML forms and receive the\
        \ field values and files via email. \n\n#### Parameters\nThe endpoint looks\
        \ for special meta parameters in the form fields OR in the URL request parameters.\
        \ The meta parameters can be used to specify the behaviour of the email. \n\
        \nYou must provide at-least a `_to` email address to tell the endpoint where\
        \ the form should be emailed. These can be submitted as hidden HTML input\
        \ fields with the corresponding `name` attributes or as URL query parameters\
        \ such as `?_to=test@example.com`\n\nThe endpoint takes all other form fields\
        \ that are named and includes them in the message body of the email. Files\
        \ are sent as attachments.\n\n#### Submitting\nThis endpoint accepts form\
        \ submission via POST method. It accepts `application/x-www-form-urlencoded`,\
        \ and `multipart/form-data` content-types.\n\n#### HTML Example\n```html\n\
        <form \n  action=\"https://java.api.mailslurp.com/forms\"\n  method=\"post\"\
        \n>\n  <input name=\"_to\" type=\"hidden\" value=\"test@example.com\"/>\n\
        \  <textarea name=\"feedback\"></textarea>\n  <button type=\"submit\">Submit</button>\n\
        </form>\n```\n\n#### URL Example\n```html\n<form \n  action=\"https://java.api.mailslurp.com/forms?_to=test@example.com\"\
        \n  method=\"post\"\n>\n  <textarea name=\"feedback\"></textarea>\n  <button\
        \ type=\"submit\">Submit</button>\n</form>\n```\n\n\n\nThe email address is\
        \ specified by a `_to` field OR is extracted from an email alias specified\
        \ by a `_toAlias` field (see the alias controller for more information). \n\
        Endpoint accepts . \nYou can specify a content type in HTML forms using the\
        \ `enctype` attribute, for instance: `<form enctype=\"multipart/form-data\"\
        >`.\n\n"
      operationId: submitForm
      parameters:
      - description: The email address that submitted form should be sent to.
        example: test@example.com
        explode: true
        in: query
        name: _to
        required: false
        schema:
          type: string
        style: form
      - description: Optional subject of the email that will be sent.
        example: My form submission
        explode: true
        in: query
        name: _subject
        required: false
        schema:
          type: string
        style: form
      - description: Optional URL to redirect form submitter to after submission.
          If not present user will see a success message.
        example: https://mysite.com/form-success
        explode: true
        in: query
        name: _redirectTo
        required: false
        schema:
          type: string
        style: form
      - description: Email address of the submitting user. Include this if you wish
          to record the submitters email address and reply to it later.
        example: test@example.com
        explode: true
        in: query
        name: _emailAddress
        required: false
        schema:
          type: string
        style: form
      - description: Optional success message to display if no _redirectTo present.
        example: Thanks for submitting
        explode: true
        in: query
        name: _successMessage
        required: false
        schema:
          type: string
        style: form
      - description: Optional but recommended field that catches spammers out. Include
          as a hidden form field but LEAVE EMPTY. Spam-bots will usually fill every
          field. If the _spamCheck field is filled the form submission will be ignored.
        explode: true
        in: query
        name: _spamCheck
        required: false
        schema:
          type: string
        style: form
      - description: All other parameters or fields will be accepted and attached
          to the sent email. This includes files and any HTML form field with a name.
          These fields will become the body of the email that is sent.
        explode: true
        in: query
        name: otherParameters
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                type: string
          description: OK
      summary: Submit a form to be parsed and sent as an email to an address determined
        by the form fields
      tags:
      - FormController
      x-accepts: '*/*'
  /export:
    get:
      operationId: exportEntities
      parameters:
      - explode: true
        in: query
        name: exportType
        required: true
        schema:
          enum:
          - INBOXES
          - CONTACTS
          - ATTACHMENTS
          - EMAILS
          type: string
        style: form
      - explode: true
        in: query
        name: apiKey
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: outputFormat
        required: true
        schema:
          enum:
          - CSV_DEFAULT
          - CSV_EXCEL
          type: string
        style: form
      - explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: listSeparatorToken
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: excludePreviouslyExported
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: createdEarliestTime
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: createdOldestTime
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  format: byte
                  type: string
                type: array
          description: OK
      summary: Export inboxes link callable via browser
      tags:
      - ExportController
      x-accepts: '*/*'
    post:
      operationId: getExportLink
      parameters:
      - explode: true
        in: query
        name: exportType
        required: true
        schema:
          enum:
          - INBOXES
          - CONTACTS
          - ATTACHMENTS
          - EMAILS
          type: string
        style: form
      - explode: true
        in: query
        name: apiKey
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExportOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExportLink'
          description: OK
      summary: Get export link
      tags:
      - ExportController
      x-contentType: application/json
      x-accepts: '*/*'
  /emails:
    delete:
      description: Deletes all emails in your account. Be careful as emails cannot
        be recovered
      operationId: deleteAllEmails
      responses:
        "204":
          description: No Content
      summary: Delete all emails in all inboxes.
      tags:
      - EmailController
      x-accepts: application/json
    get:
      description: By default returns all emails across all inboxes sorted by ascending
        created at date. Responses are paginated. You can restrict results to a list
        of inbox IDs. You can also filter out read messages
      operationId: getEmailsPaginated
      parameters:
      - description: Optional inbox ids to filter by. Can be repeated. By default
          will use all inboxes belonging to your account.
        explode: true
        in: query
        name: inboxId
        required: false
        schema:
          items:
            format: uuid
            type: string
          type: array
        style: form
      - description: Optional page index in email list pagination
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
      - description: Optional page size in email list pagination. Maximum size is
          100. Use page index and sort to page through larger results
        explode: true
        in: query
        name: size
        required: false
        schema:
          default: 20
          format: int32
          maximum: 100
          type: integer
        style: form
      - description: Optional createdAt sort direction ASC or DESC
        explode: true
        in: query
        name: sort
        required: false
        schema:
          default: ASC
          enum:
          - ASC
          - DESC
          type: string
        style: form
      - description: Optional filter for unread emails only. All emails are considered
          unread until they are viewed in the dashboard or requested directly
        explode: true
        in: query
        name: unreadOnly
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Optional search filter. Searches email recipients, sender, subject,
          email address and ID. Does not search email body
        explode: true
        in: query
        name: searchFilter
        required: false
        schema:
          type: string
        style: form
      - description: Optional filter emails received after given date time
        explode: true
        in: query
        name: since
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Optional filter emails received before given date time
        explode: true
        in: query
        name: before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PageEmailProjection'
          description: OK
      summary: Get all emails in all inboxes in paginated form. Email API list all.
      tags:
      - EmailController
      x-accepts: '*/*'
    post:
      description: Alias for `InboxController.sendEmail` method - see original method
        for full details. Sends an email from a given inbox that you have created.
        If no inbox is supplied a random inbox will be created for you and used to
        send the email.
      operationId: sendEmailSourceOptional
      parameters:
      - description: ID of the inbox you want to send the email from
        explode: true
        in: query
        name: inboxId
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: Use domain pool. Optionally create inbox to send from using the
[...]
